body.disable {
  margin: 0; height: 100%; overflow: hidden!important;
  transition: right 0.5s ease;
}
body {
  transition: right 0.5s ease;
}

.wrap-cart-side {
  display: flex;
  justify-content: flex-end;

  &.active {
    .background {
      z-index: 1000;
      opacity: 1;
    }

    .block-cart-side {
      z-index: 1001;
      right: 0;
      transition: right 0.5s ease;
    }
  }

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #636363b8;
    opacity: 0;
    transition: opacity .2s ease;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .block-cart-side {
    position: fixed;
    display: flex;
    flex-direction: column;

    float: right;
    width: 400px;
    height: 100vh;
    background-color: white;
    padding: 0px 25px;
    right: -100%;
    overflow: auto;
    z-index: 999;
    @media screen and (max-width: 767px) {
      width: -webkit-fill-available;
    }
    .block-info {
      border-bottom: 1px solid #eaeaea;
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .info {
        .total {
          font-family: "Barlow";
          background-color: #333333;
          border-radius: 50%;
          color: #ffffff;
          font-size: 13px;
          padding: 6px 10px;
          display: inline;
          margin-right: 10px;
        }

        .desc {
          font-family: "Barlow";
          display: inline;
          font-size: 18px;
        }

      }
      .close {
        color: #565656;
        padding: 5px 10px;
        border-radius: 50%;
        font-size: 22px;
        cursor: pointer;
        &:hover {
          color: #222222;
        }
      }
    }

    .block-item {
      display: flex;
      justify-content: flex-start;
      padding: 50px 0;
      border-bottom: 1px solid #eaeaea;
      .thumbnail-item {
        margin-right:10px;
        img {
          width: 50px;
        }
      }

      .info-item {
        font-family: Barlow;
        font-size: 16px;
        text-align: left;
        color: #2a2a2a;
        .item-name{
          margin-bottom: 25px;
        }
      }
      .price-item {
        margin-left: auto;
        .woocommerce-Price-amount.amount{
          color: #2a2a2a;
          font-family: "Barlow-m";
          span{
            margin-right: 5px;
          }
        }
      }
    }

    .block-action {
      margin-top: auto;
      .block-subinfo {
        padding:25px 0;
        border-top: 1px solid #eaeaea;
        display: flex;

        &--price {
          margin-left: auto;
          .woocommerce-Price-amount.amount{
            color: #2a2a2a;
            font-family: "Barlow-m";
            span{
              margin-right: 5px;
            }
          }
        }
        font-family: Barlow;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: #2a2a2a;
      }

      .block-checkoutbutton {
        border-top: 1px solid #eaeaea;
        padding:25px 0;
        display: flex;
        justify-content: center;

        .btn-checkout {
          background-color: #142d73;
          padding: 12px 20px;
          border-radius: 35px;
          font-family: "Barlow";
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.5px;
          text-align: center;
          color: #ffffff;
          cursor: pointer;
          display: inline-block;
          border: 1px solid #142d73;
          text-transform: uppercase;
          transition: 0.3s all ease;
          position: relative;
          height: 20px;
          transform: scale(1);
          text-decoration: none;
          width: 80%;
          i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            font-size: 20px;
            color: #fff;
          }
        }
      }
    }
  }
}