body.disable {
  margin: 0; height: 100%; overflow: hidden!important;
  transition: right 0.5s ease;
}
body {
  transition: right 0.5s ease;
}

.wrap-cart-side {
  display: flex;
  justify-content: flex-end;

  &.active {
    .background {
      z-index: 1000;
      opacity: 1;
    }

    .block-cart-side {
      z-index: 1001;
      right: 0;
      transition: right 0.5s ease;
    }
  }

  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #636363b8;
    opacity: 0;
    transition: opacity .2s ease;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .block-cart-side {
    position: fixed;
    display: flex;
    flex-direction: column;

    float: right;
    width: 400px;
    height: 100vh;
    background-color: white;
    padding: 0px 25px;
    right: -100%;
    overflow: auto;
    z-index: 999;
    @media screen and (max-width: 767px) {
      width: -webkit-fill-available;
    }
    .block-info {
      border-bottom: 1px solid #eaeaea;
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .info {
        .total {
          font-family: "Barlow";
          background-color: #333333;
          border-radius: 50%;
          color: #ffffff;
          font-size: 13px;
          padding: 6px 10px;
          display: inline;
          margin-right: 10px;
        }

        .desc {
          font-family: "Barlow";
          display: inline;
          font-size: 18px;
        }

      }
      .close {
        color: #565656;
        padding: 5px 10px;
        border-radius: 50%;
        font-size: 22px;
        cursor: pointer;
        &:hover {
          color: #222222;
        }
      }
    }

    .block-item {
      display: flex;
      justify-content: flex-start;
      padding: 50px 0;
      border-bottom: 1px solid #eaeaea;
      .thumbnail-item {
        margin-right:10px;
        img {
          width: 50px;
        }
      }

      .info-item {
        font-family: Barlow;
        font-size: 16px;
        text-align: left;
        color: #2a2a2a;
        .item-name{
          margin-bottom: 25px;
        }
      }
      .price-item {
        margin-left: auto;
        .woocommerce-Price-amount.amount{
          color: #2a2a2a;
          font-family: "Barlow-m";
          span{
            margin-right: 5px;
          }
        }
      }
    }

    .block-action {
      margin-top: auto;
      .block-subinfo {
        padding:25px 0;
        border-top: 1px solid #eaeaea;
        display: flex;

        &--price {
          margin-left: auto;
          .woocommerce-Price-amount.amount{
            color: #2a2a2a;
            font-family: "Barlow-m";
            span{
              margin-right: 5px;
            }
          }
        }
        font-family: Barlow;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: #2a2a2a;
      }

      .block-checkoutbutton {
        border-top: 1px solid #eaeaea;
        padding:25px 0;
        display: flex;
        justify-content: center;

        .btn-checkout {
          background-color: #142d73;
          padding: 12px 20px;
          border-radius: 35px;
          font-family: "Barlow";
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.5px;
          text-align: center;
          color: #ffffff;
          cursor: pointer;
          display: inline-block;
          border: 1px solid #142d73;
          text-transform: uppercase;
          transition: 0.3s all ease;
          position: relative;
          height: 20px;
          transform: scale(1);
          text-decoration: none;
          width: 80%;
          i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            font-size: 20px;
            color: #fff;
          }
        }
      }
    }
  }
}

/* Cart */
.woocommerce-cart{
  .woocommerce-cart-form{
    padding: 0 114px;
    @media screen and (max-width: 1024px){
      padding: 0;
    }
    table.cart td{
      background: #ffffff;
    }
  }
  .cart-collaterals{
    padding: 0 114px;
    margin-top: 50px;
    @media screen and (max-width: 1024px){
      padding: 0;
    }
  }
  .actions{
    display: flex;
    .coupon{
      label{
        display: none;
      }
      input{
        max-width: 290px;
        min-height: 44px;
        box-shadow: none;
        outline: 0;
        padding: 10px 25px;
        border: 1px solid #ddd;
        border-radius: 25px;
        box-sizing: border-box;
        font-size: 16px;
      }
      button{
        
        margin-left: -84px;
      }
    }
    button{
      margin-left: auto;
      min-width: 175px;
      min-height: 44px;
      padding: 10px 25px;
      border-radius: 25px;
      border: 0;
      outline: 0;
      box-shadow: none;
      color: #fff;
      text-transform: capitalize;
      background-color: #0f1972;
      font-family: "Barlow";
      letter-spacing: 0.18px;
      text-align: center;
      color: #fefefe;
      font-size: 16px;
      cursor: pointer;
    }
  }
 
}
.home-page-1{
  table tbody td{
    background: #ffffff;
  }
}
.home-page-1 .cart_totals  table.shop_table.shop_table_responsive{
  margin-bottom: 0;
}
/* Bill */
.woocommerce-billing-fields h3 {
  font-family: "Barlow-m";
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.28px;
  text-align: left;
  color: #2a2a2a;
}

.woocommerce-billing-fields__field-wrapper {
  .form-row label {
    font-family: "Barlow";
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.22px;
    text-align: left;
    color: #2a2a2a;
    margin-bottom: 18px;
  }

  .form-row{
    input {
      height: 48px;
    }
  }
}
.col2-set {
  .woocommerce-billing-fields__field-wrapper {
    .form-row-first,
    .form-row-last {
      width: 49%;
    }
  }
}

// CUSTOM PAGE WISHLIST
.site-main.page-wishlist ul.products li.product img{
  max-height: 400px;
}