
/*
    1. Faq
    2. Shipping
*/

/************************/
/*          Faq         */
/************************/
.faq,
.shipping{
    .faq-wrapper,
    .shipping-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 100px;
        .sidebar{
            width: 40%;
            p{
                font-size: 22px;
                font-family: 'Barlow-m';
                letter-spacing: 0.34px;
                text-align: left;
                color: #2a2a2a;
                margin: 0;
            }
        }
        .content{
            width: 60%;
            .block__content{
                padding-top: 22px;
                padding-bottom: 30px;
                cursor: pointer;
                border-top: 1px solid rgba(149, 149, 149, 0.4);
                .title{
                    font-size: 19px;
                    font-weight: 600;
                    letter-spacing: 0.28px;
                    text-align: left;
                    color: #2a2a2a;
                    position: relative;
                    &::before{
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-family: "Ionicons";
                        content: "";
                        -webkit-transition: 0.3s all ease;
                        -o-transition: 0.3s all ease;
                        transition: 0.3s all ease;
                    }
                }
                .title-click::before{
                    -webkit-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                        transform: rotate(180deg)
                }
                .sub-title{
                    display: none;
                    p{
                        font-size: 16px;
                        line-height: 2.18;
                        letter-spacing: 0.22px;
                        text-align: left;
                        color: #2a2a2a;
                        margin: 30px auto 0;
                    }
                }
            }
        }
    }
}


/************************/
/*       Shipping        */
/************************/

.shipping-wrapper{
    .desc{
        p{
            line-height: 1.45;
        }
    }
}


/*=========== Responsive ==============*/
@media screen and (max-width: 767px){
    .faq .faq-wrapper{
        display: block;
        padding: 0;
        .sidebar{
            width: 100%;
            margin: 50px auto 40px;
        }
        .content{
            width: 100%;
        }
    }
}