.home-page-1 {
  .site-header {
    .col-full {
      display: flex;
      .site-branding {
        width: 30%;
        display: inline;
      }

      #site-navigation {
        display: inline;
        width: 30%;
        overflow: hidden;
        text-transform: uppercase;
        text-align: center;
      }
    }
  }

  .block-icon-action {
    .list-action {
      list-style: none;
      padding-top: 20px;
      li {
        display: inline;
        padding-left:20px;
      }
    }
  }
}