.wrap-search-product {
    .block-content--main {
      .block-thumbnail {
        img {
          max-width: 70%;
        }
      }
    }
    .block-content--main {
      font-size: 0;
    }
    .block-content--action {
      text-align: center;
    }
    .block-content--main .wrap-item .block-title a {
      font-family: "Barlow";
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.65;
      letter-spacing: 0.5px;
      text-align: center;
      color: #020202;
      text-decoration: none;
      text-transform: capitalize;
    }
    &.show {
      display: block;
    }
    display: none;
    width: 100%;
    position: relative;
    .close {
      position: absolute;
      right: 0;
      top: -10px;
      font-size: 20px;
      cursor: pointer;
      z-index: 10;
    }
    .wrap-block-search {
        position: relative;
        min-height: 100px;
        .block-search {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          top: 20px;
          min-width: 50%;
          input {
            width: 100%;
            padding: 10px 3px;
            border-bottom: 1px solid #c3c3c3;
            box-shadow: none;
            border-top: none;
            border-left: none;
            border-right: none;
            font-size: 24px;
            &:focus {
              border-bottom: 2px solid #9b9b9b;
              outline: none;
            }
          }

          .search-content-remind {
            -webkit-transition: all 300ms ease;
            -moz-transition: all 300ms ease;
            -ms-transition: all 300ms ease;
            -o-transition: all 300ms ease;
            transition: all 300ms ease;

            list-style: none;
            padding-left: 0;
            padding-bottom: 5px;
            font-size: 10px;
            line-height: 1.5;
            opacity: 1;

            &.processing {
              opacity: 0;
              -webkit-transition: all 300ms ease;
              -moz-transition: all 300ms ease;
              -ms-transition: all 300ms ease;
              -o-transition: all 300ms ease;
              transition: all 300ms ease;
            }
            li {
              cursor: pointer;
              &:hover {
                font-weight: 600;
              }
            }
          }
        }
      padding-bottom: 20px
    }
    .block-content {
      width: 80%;
      position: relative;
      margin: 0 auto;
      &--main {
        .wrap-item {
          text-align: center;
          width: calc(100%/4 - 20px);
          display: inline-block;
          margin-right: 20px;
          .block-title {
            a {
              text-decoration: none;
              color: #020202;
              font-size: 18px;
            }
          }
        }
        padding-bottom: 50px;
      }
  
      &--action {
        a {
          border: 1px solid #222;
          padding: 15px 10px;
          color: #222222;;
          text-decoration: none;
          cursor: pointer;
          display: inline-block;
          min-width: 170px;
          border-radius: 35px;
          &:hover {
            border: 1px solid #7c7c7c;
            color: #7c7c7c;
          }
        }
  
        padding-bottom: 50px;
      }
    }
  }