body {
  &.page-template-template-home1 {
    margin: 0 !important;
    padding: 0;
  }
}

.home-page-1.one-page {
  header {
    background: transparent;
  }

  .site-header {
    position: absolute;
    .col-full {
      .site-branding {
        width: 50%;
      }
      .block-icon-action {
        width: 50%;
      }
    }
  }
}


.home-page-1 {

  header {
    border-bottom: 0;
  }
  .site-main {
    margin-bottom: 0;
  }
  .col-full {
    padding: 37px 4% 0 5.3125%;
    margin: 0;
  }
  .site-content {
    background-color: rgba(209,209,209,0.85);
  }

  .block-img,
  .slider--item,
  .slider,
  .site-main,
  .site-content {
    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }
  .block-notify {
    padding: 27px 0 25px;
    padding-left: 5.3125%;
  }
  .block-notify--element  {
    font-family: "Barlow",sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.34px;
    text-align: left;
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    &.block-notify--action {
      margin-left: 36px;
      i {
        vertical-align: middle;
      }
    }
    a {
      font-weight: 500;
      color: #ffffff;
      text-decoration: underline;
    }
  }
  .site-header {
    width: 100%;
    z-index: 9;
    .col-full {
      max-width: 100%;
      display: flex;
      padding-top: 55px;

      .site-branding {
        width: 30%;
      }

      .block-menu {
        width: 40%;
        text-align: center;
        ul {
          list-style: none;
          li {
            display: inline;
            a {
              text-decoration: none;
              width: 407px;
              height: 17px;
              font-family: Barlow;
              font-size: 22px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.5;
              letter-spacing: 0.22px;
              text-align: left;
              color: #c4c4c4;
            }

            a.active {
              color: #000000;
            }
          }
        }
      }

      .block-icon-action {
        width: 30%;
        text-align: right;
        .list-action {
          padding: 0;
          margin: 0;
          a {
            color: #151515;
            text-decoration: none;
          }
          li {
            display: inline;
            padding-left:20px;
          }
        }
      }
    }
  }
  .site-content {
    .block-content {
      .content-area {
        width: 100%;
        margin-bottom: 0;
        
      }
        .slider {
          &--item {
            display: none;
            width: 100%;
            position: relative;
            .block-desc {
              width: 590px;
              font-family: "Barlow",sans-serif;
              font-size: 73px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.3;
              letter-spacing: 1.46px;
              text-align: left;
              color: #ffffff;
              position: absolute;
              top: 17.65%;
              left: 5.3125%;
              @media screen and (max-width: 1400px) {
                font-size: 51px;
                width: 500px;
                top: 21%;
              }
            }
            .block-img {
              .bg-img {
                width: 100%;
              }
            }
            .list-title {
              position: absolute;
              top: 65.75%;
              left: 5.3125%;
              ul {
                list-style: none;
                margin: auto;
                padding-left: 0;
                li {
                  padding-bottom: 54px;
                  a {
                    width: 200px;
                    font-family: "Barlow",sans-serif;
                    font-size: 45px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 0.6;
                    letter-spacing: 0.9px;
                    text-align: left;
                    color: rgba(255,255,255,0.4);
                    text-decoration: none;
                    @media screen and (max-width: 1400px) {
                      font-size: 32px;
                    }
                  }
                  a.active {
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
  }
}

.site-footer {
  background-color: #fff;
  .footer-widget-2 {
    width: 40%;
    @media screen and (max-width: 1400px) {
      width: 50%;
    }
  }
  .footer-widget-1 {
    width:  25%;
  }
  .footer-widget-4 {
    padding-left: 7.34375%;
    @media screen and (max-width: 1400px) {
      padding-left: 1.34375%;
    }
    .block-contact-form {
      i {
        vertical-align: middle;
        padding-right: 8px;
      }
      input {
        border: 0;
        font-family: "Barlow",sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.2;
        letter-spacing: 0.23px;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        color: #9c9c9c;
      }
    }
  }
  .footer-widgets {
    display: flex;
    align-items: flex-end;
  }
  .text-info-footer {
    height: auto;
    font-family: "Barlow",sans-serif;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    @media screen and (max-width: 1400px) {
      font-size: 12px;
      width: 100%;
    }
  }
  .block-social-footer {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding-right: 25px;
        a {
          line-height: 1.94;
          color: #151515;
        }
      }
    }
  }
  .block-widget-page {
    ul {
      list-style: none;
      margin: 0;
      padding-left: 5.15625%;
      li {
        display: inline;
        padding-right: 30px;
        @media screen and (max-width:1400px) {
         padding-right: 15px;
        }
        a {
          text-decoration: none;
          font-family: "Barlow",sans-serif;
          font-size: 17px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.2;
          letter-spacing: 0.34px;
          text-align: left;
          color: #151515;
          @media screen and (max-width:1400px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}