
/*
----------------------------------------------------------------
                1. Banner
                2. Video
                3. Tab Content
                4. Slick Carousel
                5. Product Detail
-----------------------------------------------------------------
*/
body {
  margin: 0 !important;
  font-family: "Barlow",sans-serif !important;
  padding: 0;
  overflow-x: hidden;
  &.page-template-template-home1 {
    margin: 0 !important;
    padding: 0;
  }
}

.home-page-1.one-page {
  header {
    background: transparent;
  }
  .site-content {
    background-color: rgba(202,203,204,1);
  }

  .site-header {
    position: absolute;
    .col-full {
      .site-branding {
        width: 50%;
        padding-bottom: 0;
      }
      .block-icon-action {
        width: 50%;
      }
    }
  }
}


.home-page-1 {
  .custom-logo-link {
      &:focus {
          box-shadow: none;
          outline: 0;
      }
  }
  .ytp-cued-thumbnail-overlay-image {
      background-image: none !important;
      background-color: #d1d1d1;
  }

  .ytp-large-play-button {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 4px solid #fff;
  }
  header {
    border-bottom: 0;
  }
  .site-main {
    margin-bottom: 0;
  }
  .col-full {
    padding: 30px 0;
    margin: 0;
  }

  .block-img,
  .slider--item,
  .slider,
  .site-main,
  .site-content {
    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }
  .block-notify {
    padding: 27px 0 25px;
  }
  .block-notify--element  {
    font-family: "Barlow",sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.34px;
    text-align: left;
    color: #f7f7f7;
    display: inline-block;
    vertical-align: middle;
    &.block-notify--action {
      margin-left: 36px;
      i {
        vertical-align: middle;
      }
    }
    a {
      font-weight: 500;
      color: #ffffff;
      text-decoration: underline;
    }
  }
  .site-header {
    width: 100%;
    z-index: 9;
    .col-full {
      max-width: 100%;
      display: flex;
      padding-top: 42px;
      padding-bottom: 52px;

      .site-branding {
        width: 30%;
      }

      .block-menu {
        width: 40%;
        text-align: center;
        display: flex;
        float: none;
        text-align: center;
        align-items: center;
        justify-content: center;
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            display: inline;
            padding-right: 30px;
            a {
              text-decoration: none;
              width: 407px;
              height: 12px;
              font-family: "Barlow",sans-serif;
              font-size: 16px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.5;
              letter-spacing: 0.22px;
              text-align: left;
              color: #c4c4c4;
              text-transform: uppercase;
            }

            a.active {
              color: #000000;
            }
          }
        }
      }

      .block-icon-action {
        width: 30%;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .list-action {
          padding: 0;
          margin: 0;
          a {
            color: #151515;
            text-decoration: none;
            display: inline-block;
            vertical-align: -webkit-baseline-middle;
          }
          li {
            display: inline;
            padding-left:20px;
          }
        }
      }
    }
  }
  .site-content {
    .block-content {
      .content-area {
        width: 100%;
        margin-bottom: 0;
        
      }
      .block-description {
          position: absolute;
          top: 21%;
          left: 0;
          right: 0;
      }
        .slider {
          &--item {
            display: none;
            width: 100%;
            position: relative;
            .block-desc {
              width: 590px;
              font-family: "Barlow",sans-serif;
              font-size: 63px;
              font-weight: 500;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.3;
              letter-spacing: 1.46px;
              text-align: left;
              color: #ffffff;
            }
            .block-img {
              .bg-img {
                width: 100%;
              }
            }
            .list-title {
              position: relative;
              padding-top: 10%;
              ul {
                list-style: none;
                margin: auto;
                padding-left: 0;
                li {
                  padding-bottom: 54px;
                  @media screen and (max-width: 1400px) {
                      padding-bottom: 50px;
                  }
                  a {
                    width: 200px;
                    font-family: "Barlow",sans-serif;
                    font-size: 34px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 0.6;
                    letter-spacing: 0.9px;
                    text-align: left;
                    color: rgba(255,255,255,0.4);
                    text-decoration: none;
                    @media screen and (max-width: 1400px) {
                    }
                  }
                  a.active {
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
  }
}

.site-footer {
  background-color: #fff;
  .footer-widget-2 {
    width: 40%;
    @media screen and (max-width: 1400px) {
      width: 48%;
    }
  }
  .footer-widget-1 {
    width:  25%;
  }
  .footer-widget-4 {
    padding-left: 7.34375%;
    @media screen and (max-width: 1400px) {
      padding-left: 1.34375%;
    }
    .block-contact-form {
        border-bottom: 1px solid #a7a7a7;
      i {
        vertical-align: middle;
        padding-right: 8px;
        &.fa-arrow-right {
            padding-left: 0px;
            @media screen and (min-width: 1440px) {
                padding-left: 40px;
            }
        }
      }
      img {
        display: inline-block;
        vertical-align: middle;
      }
      input {
        border: 0;
        font-family: "Barlow",sans-serif;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.2;
        width: 160px;
        letter-spacing: 0.23px;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        color: #9c9c9c;
        &:focus {
            outline: none;
            box-shadow: 0;
        }
      }
    }
  }
  .footer-widgets {
    display: flex;
    align-items: flex-end;
  }
  .text-info-footer {
    height: auto;
    font-family: "Barlow",sans-serif;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    @media screen and (max-width: 1400px) {
      font-size: 12px;
      width: 100%;
    }
  }
  .block-social-footer {
    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding-right: 25px;
        a {
          line-height: 1.94;
          color: #151515;
        }
      }
    }
  }
  .block-widget-page {
    ul {
      list-style: none;
      margin: 0;
      padding-left: 5.15625%;
      li {
        display: inline;
        padding-right: 30px;
        @media screen and (max-width:1400px) {
         padding-right: 15px;
        }
        a {
          text-decoration: none;
          font-family: "Barlow",sans-serif;
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.2;
          letter-spacing: 0.34px;
          text-align: left;
          color: #151515;
          @media screen and (max-width:1400px) {
            font-size: 12px;
          }
        }
      }
    }
  }
}

/* ---------------- 1. Banner ------------------------ */
.banner-main {
  background-image: url(../../images/common/micro-dermarx_02.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  .banner-title {
    width: 760px;
    font-family: "Barlow",sans-serif;
    font-size: 70px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31; 
    padding: 273px 0 420px;
    letter-spacing: 2.55px;
    text-align: center;
    margin: 0 auto;
    color: #333333;
    // @media screen and (max-width: 1400px) {
    //   padding: 150px 0 220px;
    //   width: 863px;
    // }
  }
}

/* ------------------ Info Page ------------------- */
.info-page-child {
    display: flex;
    align-items: center;
}
.info-page {
    background-color: #e5e5e5;
    padding: 23px 0 21px;
  .info-page-left,
  .info-page-right {
    width: 50%;
  }

  .info-page-left {
    display: flex;
    a {
      font-family: "Barlow",sans-serif;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.83;
      letter-spacing: 0.36px;
      text-align: left;
      color: #333333;
      text-decoration: underline;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        vertical-align: middle;
        padding-left: 15px;
        a {
          color: #5b5b5b;
          text-decoration: none;
        }
      }
    }
  }
  .info-page-right {
    text-align: right;
    button {
      background-color: transparent;
      border: 0;
      font-family: "Barlow",sans-serif;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.27;
      letter-spacing: 0.34px;
      text-align: left;
      color: #333333;
    }
  }
}

.home-page-1 {
  .storefront-sorting {
    display: none;
  }
  ul.products li.product .star-rating {
      display: none;
  }
  ul.products li.product .woocommerce-loop-product__title, ul.products li.product h2 {
    font-family: "Barlow",sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.65;
    letter-spacing: 0.5px;
    text-align: center;
    color: #020202;
    text-decoration: none;
    text-transform: capitalize;
  }

  ul.products li.product .price {
    font-family: "Barlow",sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.44px;
    text-align: center;
    color: #020202;
  }

  ul.products li.product .woocommerce-LoopProduct-link,
  ul.products li.product .price ins {
    text-decoration: none;
  }

  ul.products li.product .button {
    font-family: "Barlow",sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.08;
    letter-spacing: 0.4px;
    text-align: left;
    color: #ffffff;
    background-color: #142d73;
    padding: 23px 42px;
    border-radius: 35px;
    position: absolute;
    left: 50%;
    opacity: 0;
    text-align: center;
    min-width: 125px;
    transform: translate(-50%, 0);
    text-decoration: none;
    text-transform:uppercase;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    @media screen and (max-width: 1400px) {
      font-size: 14px;
    }
  }

  ul.products li.product:hover .button  {
    transform: translate(-50%, -80px);
    opacity: 1;
  }

  .site-main ul.products.columns-3 li.product {
    position: relative;
  }
  .onsale {
    display: none;
  }
  .price del {
    display: none;
  }
}

/* --------------------- 2. Video ------------------------------*/
.video_wrapper {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    background-color: #000;
  }
  .video_wrapper_full {
    padding-top: 0;
  }
  
  
  .videoIframe {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  
  .videoPoster {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #aaabaa;
    background-size: 100%;
    border: none;
    overflow: hidden;
    opacity: 1;
    -webkit-transition: opacity 800ms, height 0s;
    -moz-transition: opacity 800ms, height 0s;
    transition: opacity 800ms, height 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    transition-delay: 0s, 0s;
    .fa-play {
        font-size: 3em;
        padding: 2.3vw 2.2vw 2.2vw 2.666vw;
        border: 4px solid #fff;
        border-radius: 50%;
        &:before {
            color: #aaabaa;
            -webkit-text-stroke: 4px #fff;
        }
    }
  }
  .videoPoster:hover {
    cursor: pointer;
  }
  .videoPoster:before {
    content: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 5px solid #fff;
    border-radius: 100%;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
  }
  button:hover {
    .fa-play:before {
        color:#d5d5d5;
    }
  }
//   .videoPoster:after {
//       content: "\f04b";
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       width: 0;
//       height: 0;
//       margin: -20px 0 0 -10px;
//       border-left: 40px solid #fff;
//       border-top: 25px solid transparent;
//       border-bottom: 25px solid transparent;
//       -webkit-transition: border-color 300ms;
//       -moz-transition: border-color 300ms;
//       transition: border-color 300ms;
//   }
  .videoPoster:hover:before,  .videoPoster:focus:before {
      border-color: #f00;
  }
  .videoPoster:hover:after, .videoPoster:focus:after {
    border-left-color: #f00;
  }
  .videoWrapperActive .videoPoster {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
  }

/*------------------- 3. Tab Content -------------------------------------*/
.tab-content {
    text-align: center;
    padding: 94px 0 172px 0;
    background-color: #f5f4f4;
    @media screen and(max-width:1400px) {
        padding: 66px 0 120px;
    }
}
.tabs-nav {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 355px;
    margin: 0 auto;
    padding-bottom: 22px;
    padding-left: 0;
    position: relative;
    margin-bottom: 87px;
    @media screen and (max-width: 1400px) {
        margin-bottom: 60px;
    }
    &:before {
     content: '';
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 3px;
     background-color: #e3e3e3;
    }
}
.tabs { 
    margin: 0 auto;
  }
  .tabs-nav li {
    width: auto;
    margin-right: 40px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        width: 100%;
        bottom: -22px;
        height: 3px;
        background-color: #323232;
    }
    &.tab-active::before {
        opacity: 1;
    }
    &:last-child {
        margin-right: 0;
    }
  }
  .tabs-nav li:first-child a {
    border-right: 0;
    border-top-left-radius: 6px;
  }
  .tabs-nav li:last-child a {
    border-top-right-radius: 6px;
  }

  .tabs-nav {
    a {
        font-family: "Barlow",sans-serif;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: 0.5px;
        text-align: center;
        color: #939393;
        text-decoration:none;
      }
  }
  
  a:hover {
    color: #333;
  }
  .tab-active a {
    color: #333;
    cursor: default;
  }
  .tabs-stage {
    position: relative;
  }

/* -------------------- Slick Carousel ----------------*/
.home-page-1 {
    .added_to_cart.wc-forward {
        display: none;
    }
    .slick-slide img {
        margin: 0 auto;
    }
    .slick-initialized .slick-slide {
        &:focus {
            outline: none;
            box-shadow: 0;
        }
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0
    }
    .tabs {
        .sub-title, p {
            font-family: "Barlow",sans-serif;
            font-size: 21px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            width: 960px;
            margin: 0 auto;
            letter-spacing: 0.6px;
            text-align: center;
            color: #2a2a2a;
            padding-bottom: 107px;
            @media screen and (max-width: 1400px) {
                font-size: 21px;
                padding-bottom: 75px;
            }
        }
    }
}


/* ----------------- 5. Product Detail -------------- */
.storefront-product-detail {
    .product_title {
        font-family: "Barlow",sans-serif;
        font-size: 32px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.48;
        letter-spacing: normal;
        text-align: left;
        color: #222222;
        text-transform: capitalize;
    }
    .woocommerce-product-details__short-description {
        p {
            font-family: "Barlow",sans-serif;
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.57;
            letter-spacing: 0.42px;
            text-align: left;
            color: #333333;
        }
    }
    &.single-product div.product .product_meta .posted_in, 
    &.single-product div.product .product_meta .sku_wrapper, 
    &.single-product div.product .product_meta .tagged_as {
        font-family: "Barlow",sans-serif;
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: 0.54px;
        text-align: left;
        color: #222222;
        text-transform: uppercase;
    }
    &.single-product div.product .product_meta{
        span {
            margin-bottom: 64px;
        }
    }
    &.single-product div.product .product_meta a {
        font-family: "Barlow", sans-serif;
        font-size: 11px;
        font-weight: 600;
        padding: 9px 40px;
        min-width: 160px;
        font-style: normal;
        font-stretch: normal;
        line-height: 0.97;
        letter-spacing: 0.45px;
        text-align: center;
        color: #a7a7a7;
        border: 2px solid #a7a7a7;
        border-radius: 35px;
        text-decoration: none;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        margin-right: 20px;
        &:first-child {
            margin-left: 30px;
        }
        &:hover {
            color: #0f1972;
            border-color: #0f1972;
        }
    }

    .single_add_to_cart_button {
        font-family: "Barlow", sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.08;
        letter-spacing: 0.4px;
        text-align: left;
        color: #ffffff;
        background-color: #142d73;
        padding: 23px 42px;
        border-radius: 35px;
        opacity: 1;
        border: 0;
        outline: 0;
        box-shadow: none;
        text-align: center;
        min-width: 135px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        &:hover {
            background-color: #142d73;
        }
    }
    .screen-reader-text {
        display: none;
    }

    &.single-product div.product form.cart {
        display: flex;
        align-items: center;
    }
}

/*------------ 6. Define Container ---------------*/

.container {
    width: 100%;
    padding-right: .75rem;
    padding-left: .75rem;
    margin-right: auto;
    margin-left: auto;
}


@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }    
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1360px) {
    .container {
        max-width: 1400px;
    }
}

@media (min-width: 1500px ){
    .container {
        max-width: 1730px;
    }
}


/*--------------------- 7. Add to card -----------------------*/
form.increse-decrease {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    .value-button {
        display: inline-block;
        border: 1px solid #ddd;
        margin: 0px;
        width: 40px;
        height: 20px;
        text-align: center;
        vertical-align: middle;
        padding: 11px 0;
        background: #eee;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      .value-button:hover {
        cursor: pointer;
      }
      
      input#number {
        text-align: center;
        border: none;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin: 0px;
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: middle;
      }
      
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }
  }
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  
