/*
    1. Login
    2. My Account
*/

/************************/
/*       Login           */
/************************/
.login{
    p{
        margin: 0;
    }
    .login-wrapper{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 100px;
        color:  #2a2a2a;
        .title{
            font-size: 19px;
            font-family: 'Barlow-m';
            letter-spacing: 0.28px;
            margin-bottom: 30px;
        }
        label{
            display: block;
            font-size: 16px;
            letter-spacing: 0.22px;
            padding-bottom: 12px;
        }
        input{
            height: 50px;
            border-radius: 2px;
            border: solid 0.5px #d7d7d7;
            width: 100%;
            &:focus{
                outline: none;
            }
        }
        .login{
            width: 50%;
            padding-right: 150px;
            position: relative;
            .btn-fb,
            .btn-login{
                width: 100%;
                height: 50px;
                border: none;
                background: #004a80;
                color: #ffffff;
                font-size: 16px;
                letter-spacing: 0.22px;
                position: relative;
                border-radius: 2px;
                margin-bottom: 25px;
                cursor: pointer;
                i{
                    position: absolute;
                    top: 50%;
                    left: 14px;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                        transform: translateY(-50%);
                }
            }
            .login-type{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
                -webkit-box-align: center;
                    -ms-flex-align: center;
                        align-items: center;
                margin-bottom: 25px;
                .line{
                    width: 40%;
                    height: 1px;
                    opacity: 0.4;
                    background-color: #959595;
                }
                .or{
                    width: 20%;
                    text-align: center;
                    font-size: 19px;
                    letter-spacing: 0.24px;
                    color: #393939;
                    text-transform: uppercase;
                }
            }
            .email-wrapper,
            .password-wrapper{
               margin-bottom: 16px;
            }
            .fg-pass{
                text-align: right;
                font-size: 16px;
                letter-spacing: 0.22px;
                color: #0f1972;
                margin-bottom: 30px;
            }
            .btn-login{
                border-radius: 26px;
            }
            &::before{
                position: absolute;
                content: '';
                height: 100%;
                width: 1px;
                top: 30px;
                right: 0;
                opacity: 0.4;
                background-color: #959595;
            }
        }
        .register{
            width: 50%; 
            padding-left: 150px;
            .btn-register{
                height: 50px;
                border-radius: 2px;
                background-color: #e1e1e1;
                border: none;
                width: 100%;
                letter-spacing: 0.22px;
                color: #313131;
                font-size: 16px;
                cursor: pointer;
              }
        }
    }
}

/************************/
/*      My Account      */
/************************/
.my-account{
    .my-account-wrapper{
        color: #2a2a2a;
        padding: 100px;
        .title{
            letter-spacing: 0.28px;
            font-family: 'Barlow-m';
            font-size: 19px;
            margin-bottom: 40px;
        }
        .content-wrapper{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            .sidebar{
                width: 20%;
            }
            .content{
                width: 80%;
            }
        }
        .sidebar__tab{
            margin-bottom: 30px;
            font-size: 16px;
            font-family: 'Barlow-m';
            color: #898989;
            cursor: pointer;
        }
        .sidebar__tab.current{
            color: #2a2a2a;
        }
        .content{
            .tab-content-mc{
                display: none;
            }
            .tab-content-mc.current{
                display: inherit;
            }
            .dashboard{
                display: none;
                p{
                    margin: 0;
                    font-size: 16px;
                    font-family: 'Barlow-m';
                    a{
                        color: #1c2ec9;
                        text-decoration: none;
                    }
                }
                p + p{
                    margin-top: 20px;
                }
            }

            .account-detail{
                max-width: 700px;
                label{
                    font-size: 16px;
                    letter-spacing: 0.22px;
                    padding-bottom: 12px;
                }
                input{
                    height: 50px;
                    border-radius: 2px;
                    border: solid 0.5px #d7d7d7;
                    padding-left: 12px;
                    -webkit-transition: 0.3s all ease;
                    transition: 0.3s all ease;
                    font-size: 16px;
                    color: #ababab;
                    &::placeholder{
                        color: #ababab;
                    }
                    &:focus{
                        outline: none;
                        box-shadow: 1px 2px 11px 3px rgba(0, 0, 0, 0.1);
                        border-color: #ffffff;
                    }
                }
                p{
                    margin: 0;
                }
                .f-l-wrapper,
                .p-e-wrapper{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: justify;
                    -ms-flex-pack: justify;
                        justify-content: space-between;
                    margin-bottom: 20px;
                    .form-first,
                    .form-phone{
                        width: 48%;
                        margin-right: 20px;
                    }
                    .form-last,
                    .form-email{
                        width: 48%;
                     
                    }
                }
                .form-company{
                    margin-bottom: 20px;
                }
                .p-e-wrapper{
                    margin-bottom: 40px;
                }
                .form-street{
                    > input{
                      margin-bottom: 20px;  
                    }
                }
                .form-town,
                .form-country{
                    margin-bottom: 20px;
                }
            }





        }
    }
}