.storefront-product-detail {
  .site-main {
    .woocommerce-product-gallery {
      position: relative;
      .woocommerce-product-gallery__trigger {
        position: absolute;
        top:0;
        left: 0;
      }
      .flex-control-nav {
        img {
          border-radius: 50%;
          width: 70px;
        }
      }
    }
  }
}