.storefront-product-detail {
  .site-main {
    .woocommerce-product-gallery {
      position: relative;
      .woocommerce-product-gallery__trigger {
        position: absolute;
        top:0;
        left: 0;
      }
      .flex-control-nav {
        img {
          border-radius: 50%;
          width: 70px;
        }
      }
    }
  }
  &.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    float: none;
    margin-right: 30px;
  }
  &.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
    display: flex;
    justify-content: center;
  }
  &.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
    width: 54px;
    height: 54px;
  }

  .woocommerce-Reviews-title,
  .block-view-all {
    display: none;
  }

  #reviews #comments {
    font-family: "Barlow", sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.56;
    letter-spacing: 0.36px;
    text-align: right;
    color: #202020;
  }
  .block-wite-comment {
    padding-right: 70px;
  }
}