body.disable {
  margin: 0;
  height: 100%;
  overflow: hidden!important;
  transition: right 0.5s ease;
}
body {
  transition: right 0.5s ease;
}
.wrap-cart-side {
  display: flex;
  justify-content: flex-end;
}
.wrap-cart-side.active .background {
  z-index: 1000;
  opacity: 1;
}
.wrap-cart-side.active .block-cart-side {
  z-index: 1001;
  right: 0;
  transition: right 0.5s ease;
}
.wrap-cart-side .background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #636363b8;
  opacity: 0;
  transition: opacity 0.2s ease;
}
@media screen and (max-width: 767px) {
  .wrap-cart-side .background {
    display: none;
  }
}
.wrap-cart-side .block-cart-side {
  position: fixed;
  display: flex;
  flex-direction: column;
  float: right;
  width: 400px;
  height: 100vh;
  background-color: white;
  padding: 0px 25px;
  right: -100%;
  overflow: auto;
  z-index: 999;
}
@media screen and (max-width: 767px) {
  .wrap-cart-side .block-cart-side {
    width: -webkit-fill-available;
  }
}
.wrap-cart-side .block-cart-side .block-info {
  border-bottom: 1px solid #eaeaea;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-cart-side .block-cart-side .block-info .info .total {
  font-family: "Barlow";
  background-color: #333333;
  border-radius: 50%;
  color: #ffffff;
  font-size: 13px;
  padding: 6px 10px;
  display: inline;
  margin-right: 10px;
}
.wrap-cart-side .block-cart-side .block-info .info .desc {
  font-family: "Barlow";
  display: inline;
  font-size: 18px;
}
.wrap-cart-side .block-cart-side .block-info .close {
  color: #565656;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 22px;
  cursor: pointer;
}
.wrap-cart-side .block-cart-side .block-info .close:hover {
  color: #222222;
}
.wrap-cart-side .block-cart-side .block-item {
  display: flex;
  justify-content: flex-start;
  padding: 50px 0;
  border-bottom: 1px solid #eaeaea;
}
.wrap-cart-side .block-cart-side .block-item .thumbnail-item {
  margin-right: 10px;
}
.wrap-cart-side .block-cart-side .block-item .thumbnail-item img {
  width: 50px;
}
.wrap-cart-side .block-cart-side .block-item .info-item {
  font-family: Barlow;
  font-size: 16px;
  text-align: left;
  color: #2a2a2a;
}
.wrap-cart-side .block-cart-side .block-item .info-item .item-name {
  margin-bottom: 25px;
}
.wrap-cart-side .block-cart-side .block-item .price-item {
  margin-left: auto;
}
.wrap-cart-side .block-cart-side .block-item .price-item .woocommerce-Price-amount.amount {
  color: #2a2a2a;
  font-family: "Barlow-m";
}
.wrap-cart-side .block-cart-side .block-item .price-item .woocommerce-Price-amount.amount span {
  margin-right: 5px;
}
.wrap-cart-side .block-cart-side .block-action {
  margin-top: auto;
}
.wrap-cart-side .block-cart-side .block-action .block-subinfo {
  padding: 25px 0;
  border-top: 1px solid #eaeaea;
  display: flex;
  font-family: Barlow;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #2a2a2a;
}
.wrap-cart-side .block-cart-side .block-action .block-subinfo--price {
  margin-left: auto;
}
.wrap-cart-side .block-cart-side .block-action .block-subinfo--price .woocommerce-Price-amount.amount {
  color: #2a2a2a;
  font-family: "Barlow-m";
}
.wrap-cart-side .block-cart-side .block-action .block-subinfo--price .woocommerce-Price-amount.amount span {
  margin-right: 5px;
}
.wrap-cart-side .block-cart-side .block-action .block-checkoutbutton {
  border-top: 1px solid #eaeaea;
  padding: 25px 0;
  display: flex;
  justify-content: center;
}
.wrap-cart-side .block-cart-side .block-action .block-checkoutbutton .btn-checkout {
  background-color: #142d73;
  padding: 12px 20px;
  border-radius: 35px;
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #142d73;
  text-transform: uppercase;
  transition: 0.3s all ease;
  position: relative;
  height: 20px;
  transform: scale(1);
  text-decoration: none;
  width: 80%;
}
.wrap-cart-side .block-cart-side .block-action .block-checkoutbutton .btn-checkout i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 20px;
  color: #fff;
}
/* Cart */
.woocommerce-cart .woocommerce-cart-form {
  padding: 0 114px;
}
@media screen and (max-width: 1024px) {
  .woocommerce-cart .woocommerce-cart-form {
    padding: 0;
  }
}
.woocommerce-cart .woocommerce-cart-form table.cart td {
  background: #ffffff;
}
.woocommerce-cart .cart-collaterals {
  padding: 0 114px;
  margin-top: 50px;
}
.woocommerce-cart .cart-collaterals .woocommerce-shipping-totals {
  display: none;
}
@media screen and (max-width: 1024px) {
  .woocommerce-cart .cart-collaterals {
    padding: 0;
  }
}
.woocommerce-cart .actions {
  display: flex;
}
.woocommerce-cart .actions .coupon label {
  display: none;
}
.woocommerce-cart .actions .coupon input {
  max-width: 290px;
  min-height: 44px;
  box-shadow: none;
  outline: 0;
  padding: 10px 25px;
  border: 1px solid #ddd;
  border-radius: 25px;
  box-sizing: border-box;
  font-size: 15px;
}
.woocommerce-cart .actions .coupon button {
  margin-left: -84px;
}
.woocommerce-cart .actions button {
  margin-left: auto;
  min-width: 175px;
  min-height: 44px;
  padding: 10px 25px;
  border-radius: 25px;
  border: 0;
  outline: 0;
  box-shadow: none;
  color: #fff;
  text-transform: capitalize;
  background-color: #0f1972;
  font-family: "Barlow";
  letter-spacing: 0.18px;
  text-align: center;
  color: #fefefe;
  font-size: 16px;
  cursor: pointer;
}
.home-page-1 table tbody td {
  background: #ffffff;
}
.home-page-1 .cart_totals table.shop_table.shop_table_responsive {
  margin-bottom: 0;
}
table.cart td.product-quantity .quantity {
  display: flex;
  justify-content: center;
  position: relative;
}
table.cart td.product-quantity .quantity .qty {
  width: auto;
  padding: 0;
  border: none;
  line-height: 32px;
}
table.cart td.product-quantity .quantity .quantity-nav {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  line-height: 22px;
  flex-direction: row-reverse;
}
table.cart td.product-quantity .quantity .quantity-nav .quantity-button {
  width: 30px;
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #cccccc;
  transition: 0.3s all ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
table.cart td.product-quantity .quantity .quantity-nav .quantity-button:hover {
  border-color: black;
  color: black;
}
table.cart td.product-quantity .quantity input[type=number]::-webkit-inner-spin-button,
table.cart td.product-quantity .quantity input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Bill */
.woocommerce-billing-fields h3 {
  font-family: "Barlow-m";
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.28px;
  text-align: left;
  color: #2a2a2a;
  margin: 0 0 80px;
}
.woocommerce-billing-fields__field-wrapper .form-row label {
  font-family: "Barlow";
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.22px;
  text-align: left;
  color: #2a2a2a;
  margin-bottom: 18px;
}
.woocommerce-billing-fields__field-wrapper .form-row input,
.woocommerce-billing-fields__field-wrapper .form-row textarea {
  height: 44px;
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  transition: 0.3s all ease;
  font-size: 16px;
}
.woocommerce-billing-fields__field-wrapper .form-row input:focus,
.woocommerce-billing-fields__field-wrapper .form-row textarea:focus {
  outline: none;
  box-shadow: 1px 2px 11px 3px rgba(0, 0, 0, 0.1);
  border-color: #ffffff;
}
form.checkout.woocommerce-checkout {
  padding: 0 114px;
}
form.checkout.woocommerce-checkout .col2-set {
  width: 65%;
  padding-right: 100px;
  box-sizing: border-box;
  margin-right: 0;
}
form.checkout.woocommerce-checkout #order_review_heading {
  display: none;
}
form.checkout.woocommerce-checkout #order_review {
  width: 35%;
}
form.checkout.woocommerce-checkout #order_review table.woocommerce-checkout-review-order-table {
  line-height: unset;
  margin-bottom: 0;
}
.col2-set .woocommerce-billing-fields__field-wrapper p {
  margin: 0 0 35px;
}
.col2-set .woocommerce-billing-fields__field-wrapper .form-row-first,
.col2-set .woocommerce-billing-fields__field-wrapper .form-row-last {
  width: 49%;
  margin-right: 0;
}
.col2-set .woocommerce-billing-fields__field-wrapper .update_totals_on_change {
  width: 49%;
}
.col2-set .woocommerce-billing-fields__field-wrapper .update_totals_on_change .select2-container--default .select2-selection--single {
  height: 44px;
}
.col2-set .woocommerce-billing-fields__field-wrapper .update_totals_on_change .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 44px;
}
.col2-set .woocommerce-billing-fields__field-wrapper .update_totals_on_change .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
}
.col2-set .woocommerce-billing-fields__field-wrapper .validate-phone {
  width: 49%;
  float: left;
}
.col2-set .woocommerce-billing-fields__field-wrapper .validate-email {
  width: 49%;
  float: right;
  clear: none;
}
.woocommerce-additional-fields .form-row {
  margin-top: 50px;
}
.woocommerce-additional-fields .form-row label {
  margin-bottom: 18px;
  color: #2a2a2a;
}
.woocommerce-additional-fields .form-row textarea {
  padding-left: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  transition: 0.3s all ease;
  height: 180px;
  padding-top: 8px;
  font-size: 16px;
}
.woocommerce-additional-fields .form-row textarea:focus {
  outline: none;
  box-shadow: 1px 2px 11px 3px rgba(0, 0, 0, 0.1);
  border-color: #ffffff;
}
table.woocommerce-checkout-review-order-table tfoot {
  margin-top: 30px;
}
table.woocommerce-checkout-review-order-table tfoot th {
  line-height: unset;
  border-bottom: 0;
  padding: 10px 0;
}
table.woocommerce-checkout-review-order-table tfoot td {
  font-family: "Barlow-m";
  color: #2a2a2a;
  padding: 10px 0;
}
table.woocommerce-checkout-review-order-table tfoot .order-total th,
table.woocommerce-checkout-review-order-table tfoot .order-total td {
  text-transform: uppercase;
  font-family: "Barlow-s";
}
#payment.woocommerce-checkout-payment {
  padding-right: 15px;
}
#payment.woocommerce-checkout-payment .form-row.place-order {
  margin-top: 30px;
  padding: 0;
  background-color: #ffffff;
}
#payment.woocommerce-checkout-payment .form-row.place-order .woocommerce-terms-and-conditions-wrapper {
  display: none;
}
#payment.woocommerce-checkout-payment .form-row.place-order button {
  height: 44px;
  font-size: 16px;
  background: #0f1972;
  border-radius: 22px;
  border: none;
  cursor: pointer;
}
.payment-wrapper {
  clear: both;
  width: 65%;
  padding-right: 100px;
  box-sizing: border-box;
  padding-top: 80px;
}
.payment-wrapper .payment-with {
  display: flex;
  margin-bottom: 80px;
}
.payment-wrapper .payment-with .title {
  font-size: 24px;
  color: #2a2a2a;
  font-family: "Barlow-m";
}
.payment-wrapper .payment-with .items {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.payment-wrapper .payment-with .items .item {
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;
  height: 30px;
  width: 55px;
  justify-content: center;
  box-sizing: border-box;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.payment-wrapper .payment-with .items .item:first-child img {
  width: 30px;
}
.payment-wrapper input {
  height: 44px;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  transition: 0.3s all ease;
  padding-left: 10px;
  box-sizing: border-box;
}
.payment-wrapper input:focus {
  outline: none;
  box-shadow: 1px 2px 11px 3px rgba(0, 0, 0, 0.1);
  border-color: #ffffff;
}
.payment-wrapper label {
  margin-bottom: 18px;
  color: #2a2a2a;
}
.payment-wrapper p {
  margin-bottom: 35px;
}
.payment-wrapper .expiry-date p {
  margin-bottom: 18px;
}
.payment-wrapper .expiry-date + .form-row {
  width: 60%;
}
.payment-wrapper .m-y-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.payment-wrapper .m-y-wrapper input {
  width: 49%;
}
.payment-wrapper .save-card {
  color: #2a2a2a;
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.payment-wrapper .save-card input {
  height: auto;
}
.payment-wrapper .save-card button {
  margin-left: auto;
  width: 290px;
  height: 44px;
  background: #0f1972;
  border-radius: 22px;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}
.woocommerce-cart .woocommerce-cart-form.sp {
  display: none;
}
table.woocommerce-checkout-review-order-table th {
  padding: 15px 0;
  line-height: unset;
}
table.woocommerce-checkout-review-order-table td {
  border-bottom: 1px solid rgba(149, 149, 149, 0.4);
}
table.woocommerce-checkout-review-order-table .product-name ul {
  padding-left: 0;
  list-style: none;
  color: #2a2a2a;
}
table.woocommerce-checkout-review-order-table .product-name ul li {
  margin-bottom: 10px;
}
table.woocommerce-checkout-review-order-table .product-name ul li:first-child {
  font-family: "Barlow-m";
}
.site-main.page-wishlist ul.products li.product img {
  max-height: 300px;
  max-width: 200px;
}
@media screen and (max-width: 767px) {
  .site-main.page-wishlist ul.products li.product img {
    max-height: 225px;
    max-width: 150px;
    width: unset;
    height: unset;
  }
  .home-page-1 .site-main.page-wishlist ul.products.columns-4 li.product:hover .stock {
    opacity: 1;
  }
  .woocommerce-cart .woocommerce-cart-form.pc {
    display: none;
  }
  .woocommerce-cart .woocommerce-cart-form.sp {
    display: block;
  }
  .woocommerce-cart .woocommerce-cart-form.sp table.cart {
    margin-bottom: 30px;
  }
  .woocommerce-cart .woocommerce-cart-form.sp label {
    display: none;
  }
  .woocommerce-cart .woocommerce-cart-form.sp .actions {
    display: block;
    text-align: right;
  }
  .woocommerce-cart .woocommerce-cart-form.sp .coupon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .woocommerce-cart .woocommerce-cart-form.sp .coupon input {
    width: 60%;
  }
  .woocommerce-cart .woocommerce-cart-form.sp .coupon button {
    width: 50%;
  }
  .home-page-1 table.cart td.product-remove a.remove {
    position: initial;
  }
  .woocommerce-cart .woocommerce-cart-form table.cart th,
  .woocommerce-cart .woocommerce-cart-form table.cart td {
    padding: 10px 0;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid rgba(149, 149, 149, 0.4);
  }
  .woocommerce-cart .woocommerce-cart-form table.cart th a,
  .woocommerce-cart .woocommerce-cart-form table.cart td a {
    text-decoration: none;
    color: #2a2a2a;
  }
  .woocommerce-cart .woocommerce-cart-form table.cart th {
    line-height: unset;
  }
  .woocommerce-cart .woocommerce-cart-form table.cart th.product-thumbnail,
  .woocommerce-cart .woocommerce-cart-form table.cart td.product-thumbnail {
    text-align: center;
  }
  .woocommerce-cart .woocommerce-cart-form table.cart td.product-quantity {
    text-align: right;
    color: #2a2a2a;
  }
  table.cart td.product-quantity .quantity {
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 10px;
  }
  table.cart td.product-quantity .quantity .qty {
    width: 20px;
  }
  table.cart td.product-quantity .quantity .quantity-nav {
    display: block;
    right: 0;
    width: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  table.cart td.product-quantity .quantity .quantity-nav .quantity-button {
    width: auto;
    height: auto;
    border: none;
    font-size: 18px;
  }
  .home-page-1 .cart-collaterals .cart_totals {
    width: 100%;
  }
  .woocommerce-cart .cart-collaterals {
    margin-top: 20px;
  }
}
