/*
    1. Faq
    2. Shipping
*/
/************************/
/*          Faq         */
/************************/
.faq .faq-wrapper,
.shipping .faq-wrapper,
.faq .shipping-wrapper,
.shipping .shipping-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
}
@media screen and (max-width: 1024px) {
  .faq .faq-wrapper,
  .shipping .faq-wrapper,
  .faq .shipping-wrapper,
  .shipping .shipping-wrapper {
    padding: 100px 0;
  }
}
.faq .faq-wrapper .sidebar,
.shipping .faq-wrapper .sidebar,
.faq .shipping-wrapper .sidebar,
.shipping .shipping-wrapper .sidebar {
  width: 40%;
}
.faq .faq-wrapper .sidebar p,
.shipping .faq-wrapper .sidebar p,
.faq .shipping-wrapper .sidebar p,
.shipping .shipping-wrapper .sidebar p {
  font-size: 24px;
  font-family: 'Barlow-m';
  letter-spacing: 0.34px;
  text-align: left;
  color: #2a2a2a;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .faq .faq-wrapper .sidebar p,
  .shipping .faq-wrapper .sidebar p,
  .faq .shipping-wrapper .sidebar p,
  .shipping .shipping-wrapper .sidebar p {
    font-size: 20px;
  }
}
.faq .faq-wrapper .content,
.shipping .faq-wrapper .content,
.faq .shipping-wrapper .content,
.shipping .shipping-wrapper .content {
  width: 60%;
}
.faq .faq-wrapper .content p,
.shipping .faq-wrapper .content p,
.faq .shipping-wrapper .content p,
.shipping .shipping-wrapper .content p {
  margin: 0;
}
.faq .faq-wrapper .content .block__content,
.shipping .faq-wrapper .content .block__content,
.faq .shipping-wrapper .content .block__content,
.shipping .shipping-wrapper .content .block__content {
  padding-top: 24px;
  padding-bottom: 30px;
  cursor: pointer;
  border-bottom: 1px solid rgba(149, 149, 149, 0.4);
}
.faq .faq-wrapper .content .block__content .title,
.shipping .faq-wrapper .content .block__content .title,
.faq .shipping-wrapper .content .block__content .title,
.shipping .shipping-wrapper .content .block__content .title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.28px;
  text-align: left;
  color: #2a2a2a;
  position: relative;
}
@media screen and (max-width: 767px) {
  .faq .faq-wrapper .content .block__content .title,
  .shipping .faq-wrapper .content .block__content .title,
  .faq .shipping-wrapper .content .block__content .title,
  .shipping .shipping-wrapper .content .block__content .title {
    font-size: 16px;
  }
}
.faq .faq-wrapper .content .block__content .title::before,
.shipping .faq-wrapper .content .block__content .title::before,
.faq .shipping-wrapper .content .block__content .title::before,
.shipping .shipping-wrapper .content .block__content .title::before {
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Ionicons";
  content: "";
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.faq .faq-wrapper .content .block__content .title-click::before,
.shipping .faq-wrapper .content .block__content .title-click::before,
.faq .shipping-wrapper .content .block__content .title-click::before,
.shipping .shipping-wrapper .content .block__content .title-click::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.faq .faq-wrapper .content .block__content .sub-title,
.shipping .faq-wrapper .content .block__content .sub-title,
.faq .shipping-wrapper .content .block__content .sub-title,
.shipping .shipping-wrapper .content .block__content .sub-title {
  display: none;
}
.faq .faq-wrapper .content .block__content .sub-title p,
.shipping .faq-wrapper .content .block__content .sub-title p,
.faq .shipping-wrapper .content .block__content .sub-title p,
.shipping .shipping-wrapper .content .block__content .sub-title p {
  font-size: 16px;
  line-height: 2.18;
  letter-spacing: 0.22px;
  text-align: left;
  color: #2a2a2a;
  margin: 20px auto 0;
}
@media screen and (max-width: 767px) {
  .faq .faq-wrapper .content .block__content .sub-title p,
  .shipping .faq-wrapper .content .block__content .sub-title p,
  .faq .shipping-wrapper .content .block__content .sub-title p,
  .shipping .shipping-wrapper .content .block__content .sub-title p {
    font-size: 14px;
  }
}
.faq .faq-wrapper .content .block__content:first-child,
.shipping .faq-wrapper .content .block__content:first-child,
.faq .shipping-wrapper .content .block__content:first-child,
.shipping .shipping-wrapper .content .block__content:first-child {
  padding-top: 0;
}
.faq .faq-wrapper .content .block__content:last-child,
.shipping .faq-wrapper .content .block__content:last-child,
.faq .shipping-wrapper .content .block__content:last-child,
.shipping .shipping-wrapper .content .block__content:last-child {
  border-bottom: 1px solid rgba(149, 149, 149, 0.4);
}
/************************/
/*       Shipping        */
/************************/
.shipping-wrapper .desc p {
  line-height: 1.45;
}
/*=========== Responsive ==============*/
@media screen and (max-width: 767px) {
  .faq .faq-wrapper,
  .shipping .faq-wrapper,
  .faq .shipping-wrapper,
  .shipping .shipping-wrapper,
  .home-page-1 .privacy-policy .privacy-policy-wrapper {
    display: block;
    padding: 0;
  }
  .faq .faq-wrapper .sidebar,
  .shipping .faq-wrapper .sidebar,
  .faq .shipping-wrapper .sidebar,
  .shipping .shipping-wrapper .sidebar,
  .home-page-1 .privacy-policy .privacy-policy-wrapper .sidebar {
    width: 100%;
    margin: 50px auto 20px;
  }
  .faq .faq-wrapper .content,
  .shipping .faq-wrapper .content,
  .faq .shipping-wrapper .content,
  .shipping .shipping-wrapper .content,
  .home-page-1 .privacy-policy .privacy-policy-wrapper .content {
    width: 100%;
  }
}
