.wrap-search-product {
  display: none;
  width: 100%;
  position: relative;
}
.wrap-search-product .block-content--main .block-thumbnail img {
  max-width: 70%;
}
.wrap-search-product .block-content--main {
  font-size: 0;
}
.wrap-search-product .block-content--action {
  text-align: center;
}
.wrap-search-product .block-content--main .wrap-item .block-title a {
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.65;
  letter-spacing: 0.5px;
  text-align: center;
  color: #020202;
  text-decoration: none;
  text-transform: capitalize;
}
.wrap-search-product.show {
  display: block;
}
.wrap-search-product .close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  cursor: pointer;
}
.wrap-search-product .block-search {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  position: relative;
  padding-bottom: 50px;
}
.wrap-search-product .block-search input {
  min-width: 50%;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #c3c3c3;
  box-shadow: none;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 24px;
}
@media screen and (max-width: 767px) {
  .wrap-search-product .block-search input {
    font-size: 18px;
  }
}
.wrap-search-product .block-search input:focus {
  border-bottom: 2px solid #9b9b9b;
  outline: none;
}
.wrap-search-product .block-content {
  width: 80%;
  position: relative;
  margin: 0 auto;
}
.wrap-search-product .block-content--main {
  padding-bottom: 50px;
}
.wrap-search-product .block-content--main .wrap-item {
  text-align: center;
  width: calc(100%/4 - 20px);
  display: inline-block;
  margin-right: 20px;
}
.wrap-search-product .block-content--main .wrap-item .block-title a {
  text-decoration: none;
  color: #020202;
  font-size: 18px;
}
.wrap-search-product .block-content--action {
  padding-bottom: 50px;
}
.wrap-search-product .block-content--action a {
  border: 1px solid #222;
  padding: 15px 10px;
  color: #222222;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  min-width: 170px;
  border-radius: 35px;
}
.wrap-search-product .block-content--action a:hover {
  border: 1px solid #7c7c7c;
  color: #7c7c7c;
}
