/*
----------------------------------------------------------------
                1. Banner
                2. Video
                3. Tab Content
                4. Slick Carousel
                5. Product Detail
-----------------------------------------------------------------
*/
body {
  margin: 0 !important;
  font-family: "Barlow", sans-serif !important;
  padding: 0;
  overflow-x: hidden;
}
body.page-template-template-home1 {
  margin: 0 !important;
  padding: 0;
}
.home-page-1.one-page .site-main {
  background-color: #fff;
}
.home-page-1.one-page .site-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.home-page-1.one-page .block-notify::before {
  content: '';
  width: 2000%;
  position: absolute;
  left: -500px;
  z-index: -1;
  top: 0;
  height: 100%;
  background-color: #cacbcc;
}
.home-page-1.one-page .wrapper-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.home-page-1.one-page header {
  background: transparent;
}
.home-page-1.one-page .site-header {
  position: absolute;
}
.home-page-1.one-page .site-header .col-full .site-branding {
  width: 50%;
  padding-bottom: 0;
}
.home-page-1.one-page .site-header .col-full .block-icon-action {
  width: 50%;
}
.home-page-1 .woocommerce-Price-currencySymbol {
  margin-right: 8px;
}
.home-page-1 .custom-logo-link:focus {
  box-shadow: none;
  outline: 0;
}
.home-page-1 .modal-filter {
  display: none;
}
.home-page-1 .modal-filter .modal-heading {
  display: flex;
}
.home-page-1 .modal-filter .modal-heading .logo {
  flex-grow: 1;
}
.home-page-1 .modal-filter .modal-heading span i {
  color: #222;
  font-size: 35px;
}
.home-page-1 .modal-filter .block-content {
  display: flex;
}
.home-page-1 .modal-filter .block-content .content {
  padding-right: 20px;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: calc(100% * 1 / 5);
}
.home-page-1 .modal-filter .block-content .content .title {
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  font-size: 16px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.home-page-1 .modal-filter .block-content .content ul {
  padding-left: 0;
  list-style: none;
}
.home-page-1 .modal-filter .block-content .content ul li {
  padding: 5px 0;
}
.home-page-1 .modal-filter .block-content .content ul li.is-selected button {
  border-color: #222;
}
.home-page-1 .modal-filter .block-content .content ul li button {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.001);
  color: #666;
  font-size: 15px;
  text-align: left;
  transition: all 100ms;
  background-color: transparent;
}
.home-page-1 .modal-filter .block-content .content ul li button:focus {
  outline: 0;
}
.home-page-1 .modal-filter .block-content .content.content-1 {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: calc(100% * 2 / 5);
}
.home-page-1 .modal-filter .block-content .content.content-1 ul {
  column-count: 2;
  column-gap: 20px;
}
.home-page-1 ul.products {
  padding-left: 0;
}
.home-page-1 .ytp-cued-thumbnail-overlay-image {
  background-image: none !important;
  background-color: #d1d1d1;
}
.home-page-1 .ytp-large-play-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid #fff;
}
.home-page-1 header {
  border-bottom: 0;
}
.home-page-1 .site-main {
  margin-bottom: 0;
}
.home-page-1 .col-full {
  padding: 18px 0;
  margin: 0;
}
.home-page-1 .block-img:focus,
.home-page-1 .slider--item:focus,
.home-page-1 .slider:focus,
.home-page-1 .site-main:focus,
.home-page-1 .site-content:focus {
  box-shadow: none;
  outline: 0;
}
.home-page-1 .block-notify {
  padding: 27px 0 25px;
}
.home-page-1 .block-notify--element {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.34px;
  text-align: left;
  color: #f7f7f7;
  display: inline-block;
  vertical-align: middle;
}
.home-page-1 .block-notify--element.block-notify--action {
  margin-left: 36px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .home-page-1 .block-notify--element.block-notify--action {
    margin-left: 30px;
  }
}
.home-page-1 .block-notify--element.block-notify--action i {
  vertical-align: middle;
}
.home-page-1 .block-notify--element a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
}
.home-page-1 .site-header {
  width: 100%;
  z-index: 9;
}
.home-page-1 .site-header.fixed .col-full .site-branding img {
  width: 120px;
  height: 30px;
}
.home-page-1 .site-header .col-full {
  max-width: 100%;
  display: flex;
  padding-top: 30px;
  padding-bottom: 40px;
}
.home-page-1 .site-header .col-full .site-branding {
  width: 30%;
}
.home-page-1 .site-header .col-full .site-branding img {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.home-page-1 .site-header .col-full .block-menu {
  width: 40%;
  display: flex;
  float: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.home-page-1 .site-header .col-full .block-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.home-page-1 .site-header .col-full .block-menu ul li {
  display: inline;
  padding-right: 30px;
}
.home-page-1 .site-header .col-full .block-menu ul li a {
  text-decoration: none;
  width: 407px;
  height: 12px;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.22px;
  text-align: left;
  color: #c4c4c4;
  text-transform: uppercase;
}
.home-page-1 .site-header .col-full .block-menu ul li a.active {
  color: #000000;
}
.home-page-1 .site-header .col-full .block-menu ul li:first-child a {
  text-decoration: underline;
  color: #222222;
}
.home-page-1 .site-header .col-full .block-icon-action {
  width: 30%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.home-page-1 .site-header .col-full .block-icon-action #list-action-cart .footer-cart-contents {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #8c8c8c;
  border-radius: 50%;
  text-align: center;
  display: inline-table;
  vertical-align: middle;
}
.home-page-1 .site-header .col-full .block-icon-action #list-action-cart .footer-cart-contents span {
  width: 7px;
  height: 10px;
  font-family: GothamHTF;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 25px;
  letter-spacing: normal;
  color: #f2f2f2;
}
.home-page-1 .site-header .col-full .block-icon-action .list-action {
  padding: 0;
  margin: 0;
}
.home-page-1 .site-header .col-full .block-icon-action .list-action a {
  color: #151515;
  text-decoration: none;
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}
.home-page-1 .site-header .col-full .block-icon-action .list-action li {
  display: inline;
  padding-left: 20px;
}
.home-page-1 .site-content .block-content .content-area {
  width: 100%;
  margin-bottom: 0;
}
.home-page-1 .site-content .block-content .block-description {
  position: absolute;
  top: 21%;
  left: 0;
  right: 0;
}
.home-page-1 .site-content .block-content .slider--item {
  display: none;
  width: 100%;
  position: relative;
}
.home-page-1 .site-content .block-content .slider--item .block-desc {
  max-width: 590px;
  font-family: "Barlow", sans-serif;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: 1.46px;
  text-align: left;
  color: #ffffff;
}
.home-page-1 .site-content .block-content .slider--item .block-img {
  height: 550px;
}
.home-page-1 .site-content .block-content .slider--item .block-img .bg-img {
  width: 100%;
}
.home-page-1 .site-content .block-content .slider--item .list-title {
  position: relative;
  padding-top: 5%;
}
.home-page-1 .site-content .block-content .slider--item .list-title ul {
  list-style: none;
  margin: auto;
  padding-left: 0;
}
.home-page-1 .site-content .block-content .slider--item .list-title ul li {
  padding-bottom: 30px;
}
@media screen and (max-width: 1400px) {
  .home-page-1 .site-content .block-content .slider--item .list-title ul li {
    padding-bottom: 30px;
  }
}
.home-page-1 .site-content .block-content .slider--item .list-title ul li a {
  width: 200px;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.6;
  letter-spacing: 0.9px;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  text-decoration: none;
}
.home-page-1 .site-content .block-content .slider--item .list-title ul li a:hover {
  color: #fff;
}
.home-page-1 .site-content .block-content .slider--item .list-title ul li a.active {
  color: #ffffff;
}
.site-footer {
  background-color: #fff;
}
.site-footer .footer-widget-3 {
  flex-grow: 1;
}
.site-footer .footer-widget-2 {
  flex-grow: 1;
  text-align: center;
}
.site-footer .footer-widget-4 .block-contact-form {
  border-bottom: 1px solid #a7a7a7;
  display: flex;
  align-items: center;
}
.site-footer .footer-widget-4 .block-contact-form i {
  vertical-align: middle;
  margin-right: 8px;
  font-size: 25px;
}
.site-footer .footer-widget-4 .block-contact-form i.fa-arrow-right {
  padding-left: 0px;
}
@media screen and (min-width: 1440px) {
  .site-footer .footer-widget-4 .block-contact-form i.fa-arrow-right {
    padding-left: 40px;
  }
}
.site-footer .footer-widget-4 .block-contact-form img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.site-footer .footer-widget-4 .block-contact-form input {
  border: 0;
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.2;
  width: 160px;
  letter-spacing: 0.23px;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  color: #9c9c9c;
  flex-grow: 1;
}
.site-footer .footer-widget-4 .block-contact-form input:focus {
  outline: none;
  box-shadow: 0;
}
.site-footer .footer-widgets {
  display: flex;
  align-items: center;
}
.site-footer .text-info-footer {
  height: auto;
  font-family: "Barlow", sans-serif;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 1400px) {
  .site-footer .text-info-footer {
    font-size: 10px;
    width: 100%;
  }
}
.site-footer .block-social-footer ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-footer .block-social-footer ul li {
  padding-right: 25px;
}
.site-footer .block-social-footer ul li a {
  line-height: 1.94;
  color: #151515;
}
.site-footer .block-widget-page ul {
  list-style: none;
  margin: 0;
  padding-left: 20px;
}
.site-footer .block-widget-page ul li {
  display: inline-block;
  padding-right: 15px;
}
@media screen and (max-width: 1024px) {
  .site-footer .block-widget-page ul li:last-child {
    padding-left: 15px;
  }
}
@media screen and (max-width: 1400px) {
  .site-footer .block-widget-page ul li:last-child {
    padding-right: 30px;
  }
}
.site-footer .block-widget-page ul li a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.2;
  letter-spacing: 0.34px;
  text-align: left;
  color: #151515;
}
@media screen and (max-width: 1400px) {
  .site-footer .block-widget-page ul li a {
    font-size: 12px;
  }
}
/* ---------------- 1. Banner ------------------------ */
.banner-main {
  background-image: url(../../images/common/micro-dermarx_02.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.banner-main .banner-title {
  max-width: 760px;
  font-family: "Barlow", sans-serif;
  font-size: 70px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  padding: 204px 0 181px;
  letter-spacing: 2.55px;
  text-align: center;
  margin: 0 auto;
  color: #333333;
}
@media screen and (max-width: 992px) {
  .banner-main .banner-title {
    font-size: 50px;
    max-width: 80%;
    padding: 120px 0 180px;
  }
}
@media screen and (max-width: 767px) {
  .banner-main .banner-title {
    font-size: 35px;
  }
}
/* ------------------ Info Page ------------------- */
.info-page-child {
  display: flex;
  align-items: center;
}
.info-page {
  background-color: #e5e5e5;
  padding: 23px 0 21px;
}
.info-page .info-page-left {
  display: flex;
  flex-grow: 1;
}
.info-page .info-page-left a {
  font-family: "Barlow", sans-serif;
  font-size: 13px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: 0.36px;
  text-align: left;
  color: #706f6f;
  text-decoration: none;
  text-transform: uppercase;
}
.info-page .info-page-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.info-page .info-page-left ul li {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 2px solid #8e8b8b;
  transition: 0.3s all ease;
}
.info-page .info-page-left ul li a {
  color: #8e8b8b;
  text-decoration: none;
}
.info-page .info-page-left ul li:hover {
  background: #8e8b8b;
}
.info-page .info-page-left ul li:hover a {
  color: #ffffff;
}
.info-page .info-page-right {
  text-align: right;
}
.info-page .info-page-right button {
  background-color: transparent;
  border: 0;
  font-family: "Barlow", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: 0.34px;
  text-align: left;
  color: #333333;
}
.info-page .info-page-right button:focus {
  outline: 0;
}
.home-page-1 .storefront-sorting {
  display: none;
}
.home-page-1 ul.products li.product .star-rating {
  display: none;
}
.home-page-1 ul.products li.product .woocommerce-loop-product__title,
.home-page-1 ul.products li.product h2 {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.65;
  letter-spacing: 0.5px;
  text-align: center;
  color: #020202;
  text-decoration: none;
  text-transform: capitalize;
}
.home-page-1 ul.products li.product .price {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.44px;
  text-align: center;
  color: #020202;
}
.home-page-1 ul.products li.product .woocommerce-LoopProduct-link,
.home-page-1 ul.products li.product .price ins {
  text-decoration: none;
}
.home-page-1 ul.products li.product .button {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
  background-color: #142d73;
  padding: 23px 42px;
  border-radius: 35px;
  position: absolute;
  left: 50%;
  opacity: 0;
  text-align: center;
  min-width: 125px;
  transform: translate(-50%, 0);
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
@media screen and (max-width: 1400px) {
  .home-page-1 ul.products li.product .button {
    font-size: 14px;
  }
}
.home-page-1 ul.products li.product:hover .button {
  transform: translate(-50%, -80px);
  opacity: 1;
}
.home-page-1 .site-main ul.products.columns-3 li.product {
  position: relative;
}
.home-page-1 .site-main ul.products.columns-3 li.product:hover h2.woocommerce-loop-product__title,
.home-page-1 .site-main ul.products.columns-3 li.product:hover .price {
  visibility: hidden;
}
.home-page-1 .onsale {
  display: none;
}
.home-page-1 .price del {
  display: none;
}
/* --------------------- 2. Video ------------------------------*/
.video_wrapper {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background-color: #000;
}
@media screen and (max-width: 992px) {
  .video_wrapper {
    height: 300px;
  }
}
@media screen and (max-width: 767px) {
  .video_wrapper {
    height: 200px;
  }
}
.video_wrapper_full {
  padding-top: 0;
}
.videoIframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.videoPoster {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #aaabaa;
  background-size: 100%;
  border: none;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
}
.videoPoster .fa-play {
  font-size: 3em;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border: 4px solid #fff;
  border-radius: 50%;
}
@media screen and (min-width: 1200px) {
  .videoPoster .fa-play {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }
}
.videoPoster .fa-play:before {
  color: #aaabaa;
  -webkit-text-stroke: 4px #fff;
  margin-left: 10px;
}
.videoPoster:hover {
  cursor: pointer;
}
.videoPoster:before {
  content: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  border: 5px solid #fff;
  border-radius: 100%;
  -webkit-transition: border-color 300ms;
  -moz-transition: border-color 300ms;
  transition: border-color 300ms;
}
button:hover .fa-play:before {
  color: #d5d5d5;
}
.videoPoster:hover:before,
.videoPoster:focus:before {
  border-color: #f00;
}
.videoPoster:hover:after,
.videoPoster:focus:after {
  border-left-color: #f00;
}
.videoWrapperActive .videoPoster {
  opacity: 0;
  height: 0;
  -webkit-transition-delay: 0s, 800ms;
  -moz-transition-delay: 0s, 800ms;
  transition-delay: 0s, 800ms;
}
/*------------------- 3. Tab Content -------------------------------------*/
.tab-content {
  text-align: center;
  padding: 94px 0 172px 0;
  background-color: #f5f4f4;
}
@media screen and (max-width: 1400px) {
  .tab-content {
    padding: 66px 0 120px;
  }
}
@media screen and (max-width: 992px) {
  .tab-content {
    padding: 40px 0 80px;
  }
}
.tabs-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  max-width: 355px;
  margin: 0 auto;
  padding-bottom: 22px;
  padding-left: 0;
  position: relative;
  margin-bottom: 87px;
}
@media screen and (max-width: 1400px) {
  .tabs-nav {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 992px) {
  .tabs-nav {
    width: auto;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 480px) {
  .tabs-nav {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: visible;
    margin-bottom: 30px;
    padding-left: 60px;
  }
}
.tabs-nav:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #e3e3e3;
}
.tabs {
  margin: 0 auto;
}
.tabs-nav li {
  width: auto;
  margin-right: 40px;
  position: relative;
}
.tabs-nav li:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  bottom: -22px;
  height: 3px;
  background-color: #323232;
}
.tabs-nav li.tab-active::before {
  opacity: 1;
}
.tabs-nav li:last-child {
  margin-right: 0;
}
.tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}
.tabs-nav li:last-child a {
  border-top-right-radius: 6px;
}
.tabs-nav a {
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: 0.5px;
  text-align: center;
  color: #939393;
  text-decoration: none;
}
a:hover {
  color: #333;
}
.tab-active a {
  color: #333;
  cursor: default;
}
.tabs-stage {
  position: relative;
}
/* -------------------- Slick Carousel ----------------*/
.home-page-1 .added_to_cart.wc-forward {
  display: none;
}
.home-page-1 .slick-slide img {
  margin: 0 auto;
}
.home-page-1 .slick-initialized .slick-slide:focus {
  outline: none;
  box-shadow: 0;
}
.home-page-1 .slick-dots {
  bottom: -45px;
}
.home-page-1 .slick-prev {
  left: 0px;
  height: auto;
}
.home-page-1 .slick-prev:before,
.home-page-1 .slick-next:before {
  color: #1e1e1e;
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-size: 30px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.home-page-1 .slick-arrow {
  z-index: 9;
}
.home-page-1 .slick-prev:before {
  content: "";
}
.home-page-1 .slick-next:before {
  content: "";
}
.home-page-1 .slick-next {
  right: 0px;
  height: auto;
}
.home-page-1 .tabs p {
  font-family: "Barlow", sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  width: 960px;
  margin: 0 auto;
  letter-spacing: 0.6px;
  text-align: center;
  color: #2a2a2a;
  padding-bottom: 107px;
}
@media screen and (max-width: 1400px) {
  .home-page-1 .tabs p {
    font-size: 19px;
    padding-bottom: 75px;
  }
}
@media screen and (max-width: 992px) {
  .home-page-1 .tabs p {
    width: auto;
    font-size: 18px;
    padding-bottom: 45px;
  }
}
@media screen and (max-width: 767px) {
  .home-page-1 .tabs p {
    font-size: 14px;
  }
}
/* ----------------- 5. Product Detail -------------- */
.storefront-product-detail .product_title {
  font-family: "Barlow", sans-serif;
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.48;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  text-transform: capitalize;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .product_title {
    text-align: center;
  }
}
.storefront-product-detail.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  width: 60px;
  border-radius: 50%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
}
.storefront-product-detail.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  font-family: "Ionicons";
  speak: none;
  font-size: 25px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  position: absolute;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.storefront-product-detail.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger img {
  visibility: hidden;
}
.storefront-product-detail .woocommerce-product-details__short-description p {
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.42px;
  text-align: left;
  color: #333333;
}
.storefront-product-detail.single-product div.product .product_meta .posted_in,
.storefront-product-detail.single-product div.product .product_meta .sku_wrapper,
.storefront-product-detail.single-product div.product .product_meta .tagged_as {
  font-family: "Barlow", sans-serif;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.54px;
  text-align: left;
  color: #222222;
  text-transform: uppercase;
}
.storefront-product-detail.single-product div.product .product_meta span {
  margin-bottom: 20px;
}
.storefront-product-detail.single-product div.product .product_meta a {
  font-family: "Barlow", sans-serif;
  font-size: 11px;
  font-weight: 600;
  padding: 9px 30px;
  min-width: 70px;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.97;
  letter-spacing: 0.45px;
  text-align: center;
  color: #a7a7a7;
  border: 2px solid #a7a7a7;
  border-radius: 35px;
  text-decoration: none;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  margin-right: 20px;
  margin-bottom: 15px;
  display: inline-block;
}
.storefront-product-detail.single-product div.product .product_meta a:first-child {
  margin-left: 30px;
}
.storefront-product-detail.single-product div.product .product_meta a:hover {
  color: #0f1972;
  border-color: #0f1972;
}
.storefront-product-detail .single_add_to_cart_button {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
  background-color: #142d73;
  padding: 16px 42px;
  border-radius: 35px;
  opacity: 1;
  border: 0;
  outline: 0;
  box-shadow: none;
  text-align: center;
  min-width: 145px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.storefront-product-detail .single_add_to_cart_button:hover {
  background-color: #142d73;
}
.storefront-product-detail .screen-reader-text {
  display: none;
}
.storefront-product-detail.single-product div.product form.cart {
  display: flex;
  align-items: center;
}
/*------------ 6. Define Container ---------------*/
.container {
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1360px) {
  .container {
    max-width: 1400px;
  }
}
@media screen and (min-width: 1560px) {
  .container {
    max-width: 1600px;
  }
}
/* Add to cart */
.wrap-product-item .fm-sl-cart {
  opacity: 0;
  display: block;
  left: 50%;
  text-align: center;
  min-width: 100px;
  top: 0;
  height: 50px;
  color: white;
  position: absolute;
  transform: translate(-50%, 0);
}
.wrap-product-item .fm-sl-cart .wrap-block {
  display: flex;
  position: absolute;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #142d73;
  border-radius: 35px;
  overflow: hidden;
}
.wrap-product-item .fm-sl-cart .wrap-proccess {
  z-index: -1;
}
.wrap-product-item .fm-sl-cart .wrap-init {
  opacity: 1;
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  height: 50px;
  cursor: pointer;
}
.wrap-product-item .fm-sl-cart.proccessing .wrap-init {
  opacity: 0;
  z-index: -1;
}
.wrap-product-item .fm-sl-cart.proccessing .wrap-proccess {
  opacity: 1;
  transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
}
.wrap-product-item .fm-sl-cart .lb-btn {
  padding: 0 36px;
  border-radius: 35px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: none;
  border-right: 0;
  color: #ffffff;
  font-weight: bold;
  background-color: #142d73;
  min-width: 120px;
}
.wrap-product-item .fm-sl-cart .block-number {
  min-height: 20px;
  width: 60px;
  color: #153374;
  padding: 14px;
  background: white;
  border: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-product-item .fm-sl-cart .value-button {
  display: inline;
  background-color: #142d73;
  padding: 15px 20px;
  border-left: 1px solid #fff;
  padding: 16px 20px;
  cursor: pointer;
}
.wrap-product-item .fm-sl-cart .value-button#increase {
  background: #ffffff;
  color: #142d73;
  border: none;
  border-left: 2px dotted #142d73;
  color: #ffffff;
}
.wrap-product-item .fm-sl-cart .value-button#decrease {
  background: #ffffff;
  border: none;
  border-right: 2px dotted;
  color: #142d73;
}
.wrap-product-item:hover .fm-sl-cart {
  opacity: 1;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transform: translate(-50%, -80px);
}
.wrap-additional_information {
  padding-top: 10px;
  padding-left: 0px;
}
.wrap-additional_information .woocommerce-product-attributes-item__value {
  padding-bottom: 20px;
}
.wrap-additional_information .woocommerce-product-attributes-item__value i {
  display: inline;
}
.wrap-additional_information .woocommerce-product-attributes-item__value p {
  padding-left: 10px;
  display: inline;
}
/* Modal H */
.wrap-modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay   in place */
  z-index: 1000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}
.wrap-modal .modal-content {
  background-color: #fefefe;
  /* margin: 15% auto; */
  padding: 20px;
  border: 1px solid #888;
  width: 600px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.wrap-modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.wrap-modal .close:hover,
.wrap-modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*======= Responsive =======*/
@media screen and (max-width: 1024px) {
  .block.footer-widget-1,
  .block.footer-widget-2,
  .block.footer-widget-3,
  .block.footer-widget-4 {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
  .slick-dots li button:before {
    font-size: 9px;
  }
  .block.footer-widget-1,
  .block.footer-widget-2 {
    margin-bottom: 10px;
  }
  .site-footer .footer-widgets {
    display: block;
  }
  .site-footer .block-widget-page ul {
    padding-left: 0;
  }
  .site-footer .block-widget-page ul li:last-child {
    padding-right: 0;
  }
}
@media screen and (max-width: 767px) {
  .home-page-1 .site-content .block-content .slider--item .block-desc {
    font-size: 40px;
  }
  .home-page-1 .site-content .block-content .slider--item .list-title ul li a {
    font-size: 26px;
  }
  .block.footer-widget-1,
  .block.footer-widget-2,
  .block.footer-widget-3,
  .block.footer-widget-4 {
    width: 100%;
    display: inline-block;
    margin: 5px 0;
  }
  .block.footer-widget-1 {
    margin-top: 0;
  }
  .site-footer .block-widget-page ul li {
    padding-right: 5px;
  }
  .home-page-1 .site-content .block-content .block-description {
    top: 25%;
  }
  .home-page-1 .site-content .block-content .slider--item .list-title ul li {
    padding-bottom: 25px;
  }
  .home-page-1 .site-content .block-content .slider--item .block-img .bg-img {
    height: 500px;
  }
  .storefront-product-detail .wrap-cart {
    display: none;
  }
  .home-page-1 .site-main ul.products.columns-4 li.product:hover h2.woocommerce-loop-product__title,
  .home-page-1 .site-main ul.products.columns-4 li.product:hover .price {
    display: block;
  }
  .home-page-1 .site-main ul.products.columns-3 li.product {
    position: relative;
  }
  .home-page-1 .site-main ul.products.columns-3 li.product:hover h2.woocommerce-loop-product__title,
  .home-page-1 .site-main ul.products.columns-3 li.product:hover .price {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  .home-page-1 .site-header .col-full .block-icon-action .list-action li {
    padding-left: 12px;
  }
}
@media screen and (max-width: 992px) {
  .home-page-1 .site-header .col-full {
    padding: 10px 0;
  }
}
@media screen and (max-width: 992px) {
  .home-page-1 .site-header .col-full .menu-desktop .block-menu,
  .home-page-1 .site-header .col-full .menu-desktop .block-icon-action {
    display: none;
  }
}
.home-page-1 .menu-desktop {
  max-width: 100%;
  display: flex;
  width: 100%;
}
.home-page-1 .menu-mobile {
  display: none;
}
@media screen and (max-width: 992px) {
  .home-page-1 .menu-mobile {
    display: block;
    position: fixed;
    top: 78px;
    right: -100%;
    max-width: 75%;
    width: 100%;
    height: 100vh;
    z-index: 999;
    padding-top: 20px;
    margin-left: 0px;
    background: #fff;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
  }
  .home-page-1 .menu-mobile.open-menu-mobile {
    right: 0;
  }
}
.home-page-1 .site-header {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.home-page-1 .site-header.fixed {
  position: fixed;
  background-color: #fff;
  z-index: 999;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.home-page-1 .site-header.fixed .col-full {
  padding: 10px 0;
}
.home-page-1 .site-header .col-full .menu-mobile .site-branding {
  display: none;
}
.home-page-1 .site-header .col-full .menu-mobile .block-menu {
  width: 100%;
  display: block;
  float: none;
  text-align: center;
}
.home-page-1 .site-header .col-full .menu-mobile .block-menu ul li {
  display: block;
  padding-right: 30px;
  width: 100%;
  margin-bottom: 30px;
}
.home-page-1 .site-header .col-full .menu-mobile .block-icon-action {
  width: 100%;
  text-align: center;
  display: block;
}
.home-page-1 .site-header .col-full .menu-mobile .block-icon-action .list-action li {
  display: block;
  padding-left: 0;
  margin-bottom: 20px;
}
.home-page-1 .hamburger-menu {
  position: absolute;
  right: 30px;
  top: 50%;
  padding: 10px 0;
  cursor: pointer;
  z-index: 101;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home-page-1 .hamburger-menu .bar {
  position: relative;
  width: 32px;
  height: 5px;
  background-color: #020202;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.home-page-1 .hamburger-menu .bar.animate {
  background: rgba(255, 255, 255, 0) !important;
}
.home-page-1 .hamburger-menu .bar.animate:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.home-page-1 .hamburger-menu .bar.animate:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.home-page-1 .hamburger-menu .bar:before {
  content: "";
  position: absolute;
  left: 0;
  width: 32px;
  height: 5px;
  bottom: 10px;
  background-color: #020202;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.home-page-1 .hamburger-menu .bar:after {
  content: "";
  position: absolute;
  left: 0;
  width: 32px;
  height: 5px;
  top: 10px;
  background-color: #020202;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.home-page-1 .hamburger-menu {
  display: none;
}
@media screen and (max-width: 992px) {
  .home-page-1 .hamburger-menu {
    display: block;
  }
}
.wrap-product-item .fm-sl-cart.proccessing .value-button#increase {
  background: #ffffff;
  color: #142d73;
  border-left: 2px dotted #142d73;
}
.wrap-cart {
  position: relative;
}
.site-main ul.products.columns-4 li.product:hover h2.woocommerce-loop-product__title,
.site-main ul.products.columns-4 li.product:hover .price {
  visibility: hidden;
}
.wrap-product-item .fm-sl-cart .block-number {
  position: relative;
}
.wrap-product-item .val {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: block !important;
  transition: 0.2s all ease;
}
.wrap-product-item .dec-1 {
  bottom: 45px;
  opacity: 0;
  display: block !important;
}
.wrap-product-item .dec-2 {
  bottom: -20px;
  display: block !important;
}
.wrap-product-item .dec-3 {
  bottom: 16px;
  opacity: 1;
  display: block !important;
}
.wrap-product-item .inc-1 {
  bottom: -14px;
  opacity: 0;
  display: block !important;
}
.wrap-product-item .inc-2 {
  bottom: 45px;
  display: block !important;
  opacity: 1;
}
.wrap-product-item .inc-3 {
  bottom: 16px;
  opacity: 1;
  display: block !important;
}
