/*
    1. Login
    2. My Account
    3. Contact Us
*/
/************************/
/*       Login           */
/************************/
.login p {
  margin: 0;
}
.login .login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 100px 100px 100px;
  color: #2a2a2a;
}
.login .login-wrapper .title {
  font-size: 26px;
  font-family: 'Barlow-m';
  letter-spacing: 0.28px;
  margin-bottom: 68px;
}
.login .login-wrapper label {
  display: block;
  font-size: 16px;
  letter-spacing: 0.22px;
  padding-bottom: 12px;
}
.login .login-wrapper input {
  height: 44px;
  border-radius: 4px;
  border: solid 1px #d7d7d7;
  width: 100%;
  transition: 0.3s all ease;
  padding-left: 10px;
  box-sizing: border-box;
}
.login .login-wrapper input:focus {
  outline: none;
  box-shadow: 1px 2px 11px 3px rgba(0, 0, 0, 0.1);
  border-color: #ffffff;
}
.login .login-wrapper .login {
  width: 50%;
  padding-right: 150px;
  position: relative;
}
.login .login-wrapper .login .btn-fb,
.login .login-wrapper .login .btn-login {
  width: 100%;
  height: 44px;
  border: none;
  background: #004a80;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.22px;
  position: relative;
  border-radius: 4px;
  margin-bottom: 68px;
  cursor: pointer;
}
.login .login-wrapper .login .btn-fb i,
.login .login-wrapper .login .btn-login i {
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.login .login-wrapper .login .btn-login {
  width: 210px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.login .login-wrapper .login .login-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 60px;
}
.login .login-wrapper .login .login-type .line {
  width: 44%;
  height: 2px;
  opacity: 0.4;
  background-color: #959595;
}
.login .login-wrapper .login .login-type .or {
  width: 12%;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.24px;
  color: #393939;
  text-transform: uppercase;
}
.login .login-wrapper .login .email-wrapper,
.login .login-wrapper .login .password-wrapper {
  margin-bottom: 16px;
}
.login .login-wrapper .login .fg-pass {
  text-align: right;
  font-size: 16px;
  letter-spacing: 0.22px;
  color: #0f1972;
  margin-bottom: 60px;
}
.login .login-wrapper .login .btn-login {
  border-radius: 26px;
}
.login .login-wrapper .login::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 2px;
  top: 30px;
  right: 0;
  opacity: 0.4;
  background-color: #959595;
}
.login .login-wrapper .register {
  width: 50%;
  padding-left: 150px;
}
.login .login-wrapper .register .btn-register {
  height: 44px;
  border-radius: 4px;
  background-color: #e1e1e1;
  border: none;
  width: 100%;
  letter-spacing: 0.22px;
  color: #313131;
  font-size: 16px;
  cursor: pointer;
}
.login-wrapper .title-tab {
  display: none;
}
/************************/
/*      My Account      */
/************************/
.entry-header h1 {
  margin: 0;
  padding-left: 114px;
  margin-bottom: 80px;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation h4 {
  display: none;
}
/*-Dashboard-*/
.woocommerce-account .hentry .entry-content {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (min-width: 576px) {
  .woocommerce-account .hentry .entry-content {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .woocommerce-account .hentry .entry-content {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .woocommerce-account .hentry .entry-content {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .woocommerce-account .hentry .entry-content {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1360px) {
  .woocommerce-account .hentry .entry-content {
    max-width: 1400px;
  }
}
.woocommerce-account .hentry .entry-contentp {
  margin: 0;
}
.woocommerce-account .hentry .entry-content .woocommerce {
  display: flex;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation {
  float: none;
  width: 30%;
  margin-right: 0;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation ul {
  border: none;
  padding-left: 114px;
  margin: 0;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link {
  border: none;
  margin-bottom: 50px;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a {
  color: #898989;
  font-family: "Barlow-m";
  padding: 0;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.is-active a {
  color: #2a2a2a;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content {
  float: none;
  width: 70%;
  color: #2a2a2a;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content p {
  margin: 0 0 45px;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content a {
  color: #1c2ec9;
}
/*-Account Details-*/
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content label {
  margin-bottom: 15px;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content label .required {
  color: #2a2a2a;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content input {
  box-sizing: border-box;
  height: 44px;
  border-radius: 4px;
  border: solid 1px #d7d7d7;
  padding-left: 10px;
  font-size: 16px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content input:focus {
  outline: none;
  box-shadow: 1px 2px 11px 3px rgba(0, 0, 0, 0.1);
  border-color: #ffffff;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content p.woocommerce-form-row {
  margin-bottom: 35px;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content p.woocommerce-form-row .form-street-name {
  margin-bottom: 25px;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content .form-row-wide {
  clear: unset;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content .form-row-first,
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content .form-row-last {
  width: 48%;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content .clear {
  clear: both;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content .form-btn-save {
  clear: both;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content .form-btn-save button {
  width: 210px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 44px;
  border: none;
  background: #0f1972;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.22px;
  border-radius: 22px;
  cursor: pointer;
}
.woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation ul h4 {
  display: none;
}
/************************/
/*      Contact Us      */
/************************/
.contact-us-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px;
  color: #2a2a2a;
}
.contact-us-wrapper p {
  margin: 0;
}
.contact-us-wrapper .sidebar {
  width: 40%;
}
.contact-us-wrapper .sidebar p {
  font-size: 26px;
  font-family: 'Barlow-m';
  letter-spacing: 0.34px;
  text-align: left;
  color: #2a2a2a;
  margin: 0;
}
.contact-us-wrapper .content {
  width: 50%;
}
.contact-us-wrapper .content .ad-p-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 65px;
  border-bottom: 1px solid rgba(149, 149, 149, 0.4);
}
.contact-us-wrapper .content .address,
.contact-us-wrapper .content .phone {
  width: 50%;
}
.contact-us-wrapper .content .phone {
  padding-left: 50px;
}
.contact-us-wrapper .content .title {
  font-size: 18px;
  font-family: "Barlow-m";
  margin-bottom: 10px;
}
.contact-us-wrapper .content .desc p {
  line-height: 1.8;
}
.contact-us-wrapper .content .desc a {
  font-size: 16px;
  line-height: 1.36;
  color: #2a2a2a;
  text-decoration: none;
}
.contact-us-wrapper .content .contact-form {
  padding-top: 35px;
}
.contact-us-wrapper .content .contact-form .title {
  margin-bottom: 40px;
}
.contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_heading {
  display: none;
}
.contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_body ul.gform_fields li.gfield {
  margin-bottom: 20px;
  padding: 0;
}
.contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_body ul.gform_fields #field_1_1,
.contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_body ul.gform_fields #field_1_3 {
  width: 48%;
  clear: none;
}
.contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_body ul.gform_fields #field_1_1 {
  float: left;
}
.contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_body ul.gform_fields #field_1_3 {
  float: right;
}
.contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_body ul.gform_fields #field_1_4 {
  clear: both;
}
.contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_body ul.gform_fields .ginput_container input.medium {
  width: 100%;
  height: 44px;
  padding: 10px;
}
.contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_body .gfield_label {
  font-weight: normal;
}
.contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_body .gfield_label .gfield_required {
  color: #2a2a2a;
}
.contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_footer {
  margin-top: 55px;
  padding: 0;
}
.contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_footer input[type=submit] {
  height: 50px;
  background: #0f1972;
  border-radius: 25px;
  width: 290px;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.contact-us-wrapper .content .contact-form input,
.contact-us-wrapper .content .contact-form textarea {
  border-radius: 4px;
  border: solid 1px #d7d7d7;
  padding-left: 12px;
  font-size: 16px;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  box-sizing: border-box;
}
.contact-us-wrapper .content .contact-form input:focus,
.contact-us-wrapper .content .contact-form textarea:focus {
  outline: none;
  box-shadow: 1px 2px 11px 3px rgba(0, 0, 0, 0.1);
  border-color: #ffffff;
}
.contact-us-wrapper .content .contact-form textarea {
  height: 88px;
}
.contact-us-wrapper .content .contact-form .form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-us-wrapper .content .contact-form .form-flex label {
  letter-spacing: 0.22px;
}
.contact-us-wrapper .content .contact-form .form-flex label input {
  height: 50px;
  margin-top: 10px;
}
.contact-us-wrapper .content .contact-form .form-flex label:first-child {
  margin-right: 15px;
}
.contact-us-wrapper .content .contact-form .form-flex.last {
  margin-top: 20px;
}
.contact-us-wrapper .content .contact-form .form-message {
  margin-top: 20px;
}
.contact-us-wrapper .content .contact-form .form-message textarea {
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
}
.home-page-1 .woocommerce form .form-row .required {
  color: #2a2a2a;
  text-decoration: none;
}
/*==================== RESPONSIVE ====================*/
@media screen and (max-width: 767px) {
  .login .login-wrapper {
    display: block;
    padding: 40px 20px;
  }
  .login .login-wrapper .login,
  .login .login-wrapper .register {
    width: 100%;
    padding: 0;
  }
  .login .login-wrapper .login::before,
  .login .login-wrapper .register::before {
    display: none;
  }
  .login .login-wrapper .title {
    display: none;
  }
  .login-wrapper .title-tab {
    display: flex;
    justify-content: center;
  }
  .login-wrapper .title-tab .login-title,
  .login-wrapper .title-tab .register-title {
    font-size: 26px;
    font-family: 'Barlow-m';
    letter-spacing: 0.28px;
    margin-bottom: 40px;
    color: #939393;
    width: auto;
    border-bottom: 2px solid #D8D8D8;
    padding-bottom: 7px;
    transition: 0.3s all ease;
    display: block;
  }
  .login-wrapper .title-tab .login-title {
    padding-right: 10px;
    padding-left: 5px;
    font-size: 16px;
  }
  .login-wrapper .title-tab .register-title {
    padding-left: 10px;
    padding-right: 5px;
    font-size: 16px;
  }
  .login-wrapper .title-tab .tab-click {
    color: #2a2a2a;
    border-bottom-color: #2a2a2a;
  }
  .login .login-wrapper .tab-content-login {
    display: none;
  }
  .login .login-wrapper .tab-content-login.current {
    display: block;
  }
  .login .login-wrapper .login .btn-fb,
  .login .login-wrapper .login .btn-login {
    margin-bottom: 32px;
  }
  .login .login-wrapper .login .login-type,
  .login .login-wrapper .login .fg-pass {
    margin-bottom: 42px;
  }
  .login .login-wrapper .login .btn-fb,
  .login .login-wrapper .login .btn-login,
  .login .login-wrapper label,
  .login .login-wrapper .login .fg-pass {
    font-size: 14px;
  }
  .login .login-wrapper .login .btn-login {
    background: #0f1972;
    width: 100%;
  }
  .login .login-wrapper .register {
    display: none;
  }
  /*-Dashboard-*/
  .entry-header h1 {
    padding-left: 0;
    margin: 30px 0;
    font-size: 20px;
    color: #2a2a2a;
  }
  .woocommerce-account .hentry .entry-content .woocommerce {
    display: block;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation {
    width: 100%;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content {
    width: 100%;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation ul {
    padding-left: 0;
    display: none;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 28px;
  }
  /*-Account Details-*/
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content label {
    margin-bottom: 8px;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content .form-row-first,
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content .form-row-last {
    width: 100%;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content p.woocommerce-form-row {
    margin-bottom: 20px;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content input {
    font-size: 14px;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content p.woocommerce-form-row.form-post {
    margin-bottom: 35px;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-content .form-btn-save button {
    width: 100%;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation {
    background: #D8D8D8;
    padding: 20px 0 0;
    margin-bottom: 45px;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation h4 {
    font-size: 16px;
    font-family: "Barlow";
    color: #2a2a2a;
    font-weight: normal;
    margin: 0;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-bottom: 20px;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation h4 i {
    transition: 0.3s all ease;
    font-size: 12px;
    color: #696969;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation h4 i.tab-click {
    transform: rotate(180deg);
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.is-active {
    display: none;
  }
  .woocommerce-account .hentry .entry-content .woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link {
    padding: 0 20px 20px;
    margin: 0;
  }
  .contact-us-wrapper {
    display: block;
    padding: 30px 0;
  }
  .contact-us-wrapper .sidebar,
  .contact-us-wrapper .content {
    width: 100%;
  }
  .contact-us-wrapper .sidebar {
    margin-bottom: 30px;
  }
  .contact-us-wrapper .content .ad-p-wrapper {
    display: block;
    padding-bottom: 45px;
  }
  .contact-us-wrapper .content .phone {
    padding-left: 0;
    margin-top: 25px;
  }
  .contact-us-wrapper .content .contact-form {
    padding-top: 30px;
  }
  .contact-us-wrapper .content .contact-form .form-flex {
    display: block;
  }
  .contact-us-wrapper .content .contact-form input,
  .contact-us-wrapper .content .contact-form textarea {
    width: 100%;
  }
  .contact-us-wrapper .content .contact-form .form-flex label:last-child {
    display: block;
    margin-top: 20px;
  }
  .contact-us-wrapper .content .contact-form .title {
    margin-bottom: 25px;
  }
  .contact-us-wrapper .content .contact-form .form-submit input {
    width: 100%;
  }
  .contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_body ul.gform_fields #field_1_3,
  .contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_body ul.gform_fields #field_1_1,
  .contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_footer input[type=submit] {
    float: none;
    width: 100%;
  }
  .contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_footer {
    margin-top: 45px;
  }
  .contact-us-wrapper p,
  .contact-us-wrapper .content .desc a,
  .contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_body .gfield_label,
  .contact-us-wrapper .content .contact-form #gform_wrapper_1 .gform_footer input[type=submit] {
    font-size: 14px;
  }
}
/* REGISTER */
.wrap-create-account {
  display: none;
}
.wrap-create-account .wrap-register-message {
  color: #ff0000;
  font-size: 13px;
  margin-bottom: 10px;
}
.wrap-create-account .button-wrap {
  padding-top: 20px;
}
.wrap-create-account .button-wrap button {
  border-radius: 26px;
  width: 210px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 44px;
  border: none;
  background: #004a80;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.22px;
  position: relative;
  margin-bottom: 68px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .wrap-create-account .button-wrap button {
    width: 100%;
    background: #0f1972;
  }
}
.wrap-create-account .button-wrap .btn-create-account i {
  display: none;
}
.wrap-create-account .button-wrap .btn-create-account span {
  display: block;
}
.wrap-create-account .wrap-field {
  padding-bottom: 15px;
}
.wrap-create-account .wrap-field .error {
  font-size: 12px;
  color: #ff0000;
}
.wrap-create-account.proccessing .btn-create-account i {
  display: block;
}
.wrap-create-account.proccessing .btn-create-account span {
  display: none;
}
.forgot-form {
  display: none;
}
.forgot-form .button-wrap {
  padding-top: 20px;
}
.forgot-form .button-wrap button {
  border-radius: 26px;
  width: 210px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 44px;
  border: none;
  background: #004a80;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.22px;
  position: relative;
  margin-bottom: 68px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .forgot-form .button-wrap button {
    width: 100%;
    background: #0f1972;
  }
}
.forgot-form .button-wrap .btn-forgot i {
  display: none;
}
.forgot-form .button-wrap .btn-forgot span {
  display: block;
}
.forgot-form .button-wrap .btn-forgot.proccessing i {
  display: block;
}
.forgot-form .button-wrap .btn-forgot.proccessing span {
  display: none;
}
