.privacy-policy .privacy-policy-wrapper {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2a2a2a;
}
.privacy-policy .privacy-policy-wrapper p {
  margin: 0;
  line-height: 24px;
}
.privacy-policy .privacy-policy-wrapper .sidebar {
  width: 40%;
}
.privacy-policy .privacy-policy-wrapper .sidebar p {
  font-size: 24px;
  font-family: "Barlow-m";
}
@media screen and (max-width: 767px) {
  .privacy-policy .privacy-policy-wrapper .sidebar p {
    font-size: 20px;
  }
}
.privacy-policy .privacy-policy-wrapper .content {
  width: 60%;
}
.privacy-policy .privacy-policy-wrapper .content .desc {
  margin-bottom: 20px;
}
.privacy-policy .privacy-policy-wrapper .content .desc p {
  line-height: 24px;
}
.privacy-policy .privacy-policy-wrapper .content .block__content .title {
  font-family: "Barlow-m";
  line-height: 24px;
  margin-bottom: 20px;
}
.privacy-policy .privacy-policy-wrapper .content .block__content .sub-title {
  margin-bottom: 20px;
}
.privacy-policy .privacy-policy-wrapper .content .block__content .sub-title p {
  line-height: 24px;
}
.privacy-policy .privacy-policy-wrapper .content .block__content .extra-title p:first-child {
  font-family: "Barlow-m";
}
.privacy-policy .privacy-policy-wrapper .content .block__content .extra-title p {
  margin-bottom: 20px;
}
/*============ Responsive ================*/
@media screen and (max-width: 767px) {
  .privacy-policy .privacy-policy-wrapper {
    display: block;
    padding: 0;
  }
}
