.storefront-product-detail .comment-form {
  font-family: "Barlow";
}
@media screen and (max-width: 767px) {
  .storefront-product-detail.single-product div.product .woocommerce-product-rating .star-rating {
    font-size: 14px;
  }
}
.storefront-product-detail .block-process {
  display: flex;
}
.storefront-product-detail.single-product div.product p.price {
  font-family: "Barlow";
  font-size: 25px;
  color: #222222;
  font-weight: normal;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail.single-product div.product p.price {
    font-size: 14px;
  }
}
.storefront-product-detail .site-main .woocommerce-product-gallery {
  position: relative;
}
.storefront-product-detail .site-main .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 0;
  left: 0;
}
.storefront-product-detail .site-main .woocommerce-product-gallery .flex-control-nav img {
  border-radius: 50%;
  width: 70px;
}
.storefront-product-detail.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  float: none;
  margin-right: 30px;
}
.storefront-product-detail.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  max-width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
    max-width: 90%;
  }
}
.storefront-product-detail.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
  width: 54px;
  height: 54px;
}
.storefront-product-detail .block-comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .block-comment-header {
    margin-bottom: 30px;
    display: block;
  }
}
.storefront-product-detail .woocommerce-Reviews-title,
.storefront-product-detail .block-view-all {
  display: block;
}
.storefront-product-detail .woocommerce-Reviews-title {
  font-family: "Barlow";
  font-size: 26px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.62;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  margin-right: 25px;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .woocommerce-Reviews-title {
    font-size: 18px;
  }
}
.storefront-product-detail .block-view-all {
  font-family: "Barlow";
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.56;
  letter-spacing: 0.36px;
  text-align: left;
  color: #777777;
  flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .block-view-all {
    margin-bottom: 15px;
  }
}
.storefront-product-detail #reviews #comments {
  font-family: "Barlow";
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.56;
  letter-spacing: 0.36px;
  text-align: right;
  color: #202020;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail #reviews #comments .block-write-comment {
    text-align: left;
    margin-top: 30px;
  }
  .storefront-product-detail #reviews #comments .woocommerce-noreviews {
    text-align: left;
    padding: 0;
    margin-bottom: 20px;
  }
}
.storefront-product-detail .block-wite-comment {
  padding-right: 70px;
}
.stock.out-of-stock,
#reviews .commentlist li p.meta .verified {
  display: none;
}
.storefront-product-detail {
  /* background of the scrollbar except button or resizer */
  /* scrollbar itself */
  /* set button(top and bottom of the scrollbar) */
}
.storefront-product-detail #reviews .comment-form-rating label {
  display: inline-block;
  color: #333;
}
.storefront-product-detail .woocommerce-info,
.storefront-product-detail .woocommerce-noreviews,
.storefront-product-detail p.no-comments {
  background-color: transparent;
  font-family: "Barlow";
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 0.42px;
  text-align: right;
  color: #222;
  border: 0;
}
.storefront-product-detail .js-block-write-comment {
  padding-right: 40px;
  font-family: "Barlow";
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-decoration: none;
  line-height: 0.56;
  letter-spacing: 0.36px;
  text-align: left;
  color: #202020;
}
.storefront-product-detail p.stars.selected a.active:before,
.storefront-product-detail p.stars:hover a:before,
.storefront-product-detail p.stars.selected a:not(.active):before,
.storefront-product-detail p.stars.selected a.active:before {
  color: #fecf33;
}
.storefront-product-detail p.stars:hover a::before {
  color: #fecf33;
}
.storefront-product-detail .comment-respond {
  max-width: 660px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #0f1972;
  margin-top: 40px;
}
.storefront-product-detail .comment-respond label {
  font-weight: bold;
}
.storefront-product-detail .comment-respond .comment-form p {
  font-family: "Barlow";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.42px;
  text-align: left;
  color: #333333;
}
.storefront-product-detail .comment-respond .comment-form p.comment-notes {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.storefront-product-detail .comment-respond .comment-form p label {
  font-family: "Barlow";
}
.storefront-product-detail .comment-respond .comment-form p input {
  height: 30px;
  width: calc(100% - 30px);
  padding: 0 10px;
  border: 1px solid rgba(169, 169, 169);
  border-radius: 2px;
  transition: 0.2s all ease;
}
.storefront-product-detail .comment-respond .comment-form p input:focus,
.storefront-product-detail .comment-respond .comment-form p input:active {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  border-color: transparent;
  outline: none;
}
.storefront-product-detail .comment-respond .comment-form p.stars {
  margin-left: 15px;
}
.storefront-product-detail .comment-respond .comment-form p input[type="submit"] {
  font-family: "Barlow";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
  background-color: #142d73;
  padding: 16px 42px;
  border-radius: 35px;
  opacity: 1;
  border: 0;
  height: auto;
  outline: 0;
  box-shadow: none;
  text-align: center;
  min-width: 170px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
.storefront-product-detail .comment-respond textarea {
  width: calc(100% - 30px);
  padding: 10px;
  border: 1px solid rgba(169, 169, 169);
  border-radius: 2px;
  transition: 0.2s all ease;
}
.storefront-product-detail .comment-respond textarea:focus,
.storefront-product-detail .comment-respond textarea:active {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  border-color: transparent;
  outline: none;
}
.storefront-product-detail .comment-respond .comment-form-comment,
.storefront-product-detail .comment-respond .comment-form-title {
  width: 100%;
}
.storefront-product-detail .comment-respond #reviews .comment-form-rating label,
.storefront-product-detail .comment-respond #reviews .comment-form-rating label {
  display: inline-block;
}
.storefront-product-detail .comment-respond .comment-form-comment label {
  display: block;
}
.storefront-product-detail #reviews .comment-form-author,
.storefront-product-detail #reviews .comment-form-email {
  width: 100%;
}
.storefront-product-detail #reviews .comment-form-author label,
.storefront-product-detail #reviews .comment-form-email label {
  display: block;
}
.storefront-product-detail.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 8px;
  right: 20px;
  left: auto;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    right: 0;
    top: 5px;
  }
}
.storefront-product-detail #reviews .commentlist li .comment_container .comment-text,
.storefront-product-detail #reviews .commentlist li .avatar {
  float: none;
  margin: 0;
  text-align: left;
  width: auto;
}
.storefront-product-detail #reviews .commentlist li .comment_container {
  display: flex;
}
.storefront-product-detail .single-product div.product p.price {
  font-family: "Barlow";
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.79;
  letter-spacing: 0.35px;
  text-align: left;
  color: #222222;
}
.storefront-product-detail .star-rating span:before,
.storefront-product-detail .quantity .plus,
.storefront-product-detail .quantity .minus,
.storefront-product-detail p.stars a:hover:after,
.storefront-product-detail p.stars a:after,
.storefront-product-detail .star-rating span:before,
.storefront-product-detail #payment .payment_methods li input[type=radio]:first-child:checked + label:before {
  color: #686868;
}
.storefront-product-detail #reviews .commentlist li p.meta strong {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: left;
  color: #222222;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.storefront-product-detail #reviews .commentlist li p.meta time {
  font-family: "Barlow";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.36px;
  text-align: left;
  color: #777777;
  padding-top: 10px;
}
.storefront-product-detail #reviews .commentlist li .comment_container .comment-text .star-rating {
  float: none;
  text-align: left;
  margin-top: 10px;
  font-size: 13px;
  letter-spacing: 1.3px;
  width: auto;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail #reviews .commentlist li .comment_container .comment-text .star-rating {
    margin-top: 10px;
  }
}
.storefront-product-detail .review-title {
  font-family: "Barlow";
  font-size: 26px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
  color: #222222;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .review-title {
    font-size: 20px;
  }
}
.storefront-product-detail .review-rate {
  color: #707070;
  display: flex;
  align-items: center;
}
.storefront-product-detail .review-rate .star-rating {
  font-size: 14px;
  margin-right: 10px;
  letter-spacing: 1.4px;
  width: 6em;
}
.storefront-product-detail .review-rate .star-rating::before {
  color: #cbcbcb;
}
.storefront-product-detail .review-rate .star-rating span {
  width: 76% !important;
}
.storefront-product-detail .review-rate .star-rating span:before {
  color: #fcbb1c;
}
.storefront-product-detail .review-rate .part-2 {
  padding-right: 5px;
}
.storefront-product-detail #reviews .commentlist li p.meta {
  text-align: left;
  margin: 0;
  order: 1;
}
.storefront-product-detail #reviews .commentlist li p.meta .woocommerce-review__author {
  font-size: 0;
  display: flex;
}
.storefront-product-detail #reviews .commentlist li p.meta .woocommerce-review__author .contribution-badge {
  text-transform: capitalize;
  position: relative;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: left;
  color: #222222;
  display: block;
  font-size: 16px;
  background: none;
  font-family: "Barlow-m";
  padding: 0;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail #reviews .commentlist li p.meta .woocommerce-review__author .contribution-badge {
    font-size: 15px;
  }
}
.storefront-product-detail #reviews .commentlist li p.meta .woocommerce-review__author .contribution-badge::before {
  position: absolute;
  content: "";
  font-size: 16px;
  color: #2e9e00;
  right: -25px;
  font-family: "Ionicons";
  top: 50%;
  transform: translateY(-50%);
}
.storefront-product-detail #reviews .commentlist li .description {
  order: 3;
}
.storefront-product-detail #reviews .commentlist li .description p {
  margin-top: 10px;
}
.storefront-product-detail #tab-description {
  float: none;
  clear: both;
}
.storefront-product-detail .review-left {
  flex-basis: 11rem;
  min-width: 125px;
}
.storefront-product-detail .review-left i {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}
.storefront-product-detail .review-left i::before {
  background-color: white;
  color: #51a011;
  border-radius: 50%;
  font-size: 20px;
}
.storefront-product-detail .block-review-left {
  display: inline-block;
  vertical-align: top;
}
.storefront-product-detail table tbody td {
  background-color: transparent;
}
.storefront-product-detail .description p {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.42px;
  text-align: left;
  color: #222222;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .description p {
    font-size: 14px;
    margin-bottom: 0;
  }
}
.storefront-product-detail #reviews .commentlist li .comment_container .comment-text {
  display: flex;
  width: 100%;
}
.storefront-product-detail #reviews .commentlist li .comment_container .comment-text .wrap-comment-right {
  margin-left: 140px;
}
@media screen and (max-width: 480px) {
  .storefront-product-detail #reviews .commentlist li .comment_container .comment-text {
    display: block;
  }
  .storefront-product-detail #reviews .commentlist li .comment_container .comment-text .review-right {
    margin-top: 30px;
  }
}
.storefront-product-detail #reviews .commentlist {
  padding-left: 0;
}
.storefront-product-detail .block-bookmark {
  position: absolute;
  top: 33px;
  right: 60px;
}
.storefront-product-detail .block-bookmark .block-share {
  margin-top: 15px;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .block-bookmark .block-share {
    margin-top: 8px;
  }
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .block-bookmark {
    top: 60px;
    right: 8px;
  }
}
.storefront-product-detail .related.products {
  text-align: center;
  padding: 65px 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .related.products {
    padding: 30px 0;
  }
}
.storefront-product-detail .related.products:before {
  content: '';
  position: absolute;
  width: 500%;
  height: 100%;
  left: -500px;
  z-index: -1;
  top: 0;
  background-color: #f6f6f6;
}
.storefront-product-detail .related > h2:first-child,
.storefront-product-detail .upsells > h2:first-child {
  font-family: "Barlow";
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.72;
  letter-spacing: normal;
  text-align: center;
  color: #a7a7a7;
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .related > h2:first-child,
  .storefront-product-detail .upsells > h2:first-child {
    margin-bottom: 25px;
  }
}
.storefront-product-detail #review_form_wrapper {
  padding-bottom: 60px;
  min-width: 35%;
  transform: translateX(-50%);
  overflow: auto;
  background: #ffffff;
  height: auto;
  padding: 20px 30px;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease;
  position: fixed;
  top: -200%;
  left: 50%;
  max-height: 90%;
}
.storefront-product-detail #review_form_wrapper .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}
.storefront-product-detail #review_form_wrapper.show {
  z-index: 1000;
  position: fixed;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.storefront-product-detail .site-content {
  background-color: #f6f6f6;
}
.storefront-product-detail.single-product div.product .summary {
  padding: 30px 0 15px;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail.single-product div.product .summary {
    padding-top: 0;
    margin-bottom: 0;
  }
}
.storefront-product-detail.single-product div.product .woocommerce-product-gallery {
  padding-bottom: 90px;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail.single-product div.product .woocommerce-product-gallery {
    padding-bottom: 0;
  }
}
.storefront-product-detail.single-product div.product .woocommerce-product-rating {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail.single-product div.product .woocommerce-product-rating {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .storefront-product-detail.single-product div.product p.price {
    text-align: center;
  }
}
.storefront-product-detail.single-product div.product .woocommerce-product-rating a {
  font-family: "Barlow";
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: 0.18px;
  text-align: left;
  color: #333333;
  display: inline;
  margin-right: 15px;
  text-decoration: none;
}
.storefront-product-detail.single-product div.product .woocommerce-product-rating a:hover {
  text-decoration: underline;
}
.storefront-product-detail .wrap-description::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}
.storefront-product-detail .wrap-description::-webkit-scrollbar-track {
  background-color: #fff;
}
.storefront-product-detail .wrap-description::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}
.storefront-product-detail .wrap-description::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff;
}
.storefront-product-detail .wrap-description::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}
.storefront-product-detail .scrollbar::-webkit-scrollbar-button {
  display: none;
}
.storefront-product-detail .wrap-description {
  height: 260px;
  overflow-y: scroll;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .wrap-description {
    overflow-y: hidden;
    height: 100%;
  }
  .storefront-product-detail .wrap-description.show {
    overflow: auto;
    height: 100% !important;
  }
}
.storefront-product-detail .wrap-description h2 {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.98;
  letter-spacing: 0.66px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .wrap-description h2 {
    font-size: 15px;
  }
}
.storefront-product-detail .wrap-description p {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.42px;
  text-align: left;
  color: #202020;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .wrap-description p {
    font-size: 14px;
  }
  .storefront-product-detail .wrap-description p .morelink {
    display: block;
    text-align: center;
    font-size: 15px;
    color: #333333;
    text-transform: capitalize;
    margin-top: 30px;
    cursor: pointer;
  }
}
.storefront-product-detail .woocommerce-product-attributes-item__value p {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.98;
  letter-spacing: normal;
  text-align: left;
  color: #202020;
}
.storefront-product-detail .wrap-additional_information {
  clear: both;
  flex-basis: 15em;
}
.storefront-product-detail .wrap-container-description {
  display: flex;
  clear: both;
  z-index: 1;
  padding: 60px 30px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .storefront-product-detail .wrap-container-description {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .wrap-container-description {
    padding: 30px 0;
  }
}
.storefront-product-detail .wrap-container-description::before {
  content: '';
  position: absolute;
  width: 2000%;
  height: 100%;
  top: 0;
  z-index: -1;
  left: -500px;
  background-color: #fbfbfb;
}
.storefront-product-detail .woocommerce-Reviews {
  padding: 70px 30px 50px;
  z-index: 1;
  position: relative;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .woocommerce-Reviews {
    padding: 15px 0 20px;
  }
}
.storefront-product-detail .woocommerce-Reviews::before {
  content: '';
  position: absolute;
  width: 2000%;
  height: 100%;
  top: 0;
  z-index: -1;
  left: -500px;
  background-color: #ffff;
}
.storefront-product-detail #reviews .commentlist li {
  margin-bottom: 30px;
  padding: 40px 0 25px;
  border-bottom: 1px solid #d1d1d1;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail #reviews .commentlist li {
    padding: 25px 0;
    margin-bottom: 25px;
  }
}
.storefront-product-detail #reviews .commentlist li:last-child {
  border: 0;
  padding-bottom: 0;
}
.storefront-product-detail #reviews .commentlist li:first-child {
  padding-top: 0;
}
.storefront-product-detail table tbody tr:nth-child(2n) td,
.storefront-product-detail fieldset,
.storefront-product-detail fieldset legend {
  background-color: transparent;
}
.storefront-product-detail .wrap-description .title {
  margin-bottom: 20px;
}
.storefront-product-detail .wrap-description .title-1 {
  margin-bottom: 20px;
}
.storefront-product-detail .wrap-description .title-2 {
  margin: 60px 0 20px;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .wrap-description .title-2 {
    margin: 40px 0 20px;
  }
}
.storefront-product-detail .moreless-button {
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: 0.42px;
  text-align: left;
  cursor: pointer;
  color: #222222;
  text-decoration: underline;
  font-family: "Barlow";
}
.storefront-product-detail .comment-text .description {
  overflow: hidden;
  transition: height 0.3s ease;
}
.storefront-product-detail .comment-text .description.active {
  height: auto;
  overflow: auto;
}
.storefront-product-detail .woocommerce-product-gallery__image {
  text-align: center;
}
/* ---- Effect like, share ----*/
.block-like > i {
  display: none;
}
.block-like {
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-image: url('https://abs.twimg.com/a/1446542199/img/t1/web_heart_animation.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 2900%;
}
.header-icon {
  width: 40px;
  height: 40px;
}
.block-like:hover,
.block-like.bookmark {
  background-position: right;
}
.is_animating {
  animation: heart-burst 0.8s steps(28) 1;
}
@keyframes heart-burst {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
.block-bookmark .block-share {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 50%;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  position: relative;
  text-align: center;
}
.block-bookmark .block-share:hover {
  background: white;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s all ease;
}
.block-bookmark .block-share > i {
  position: relative;
  z-index: 1;
  padding: 7px 0;
  color: #aab8c2;
  width: 30px;
  height: 30px;
}
.block-bookmark .block-share .block-share--conent {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 30px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 0;
  opacity: 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  cursor: pointer;
}
.block-bookmark .block-share .block-share--conent ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.block-bookmark .block-share .block-share--conent ul li {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.block-bookmark .block-share .block-share--conent ul li a i {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 25px;
}
.block-bookmark .block-share .block-share--conent ul li a {
  color: #ffffff;
}
.block-bookmark .block-share .block-share--conent ul li .icon-fb i {
  background: #0f1972;
}
.block-bookmark .block-share .block-share--conent ul li .icon-tt i {
  background: #00acee;
}
.block-bookmark .block-share .block-share--conent ul li .icon-gg i {
  background: #db4a39;
}
.block-bookmark .block-share .block-share--conent ul li:first-child.effect-fb {
  left: -35px;
  right: auto;
  top: -10px;
}
.block-bookmark .block-share .block-share--conent ul li:nth-child(2).effect-fb {
  top: -35px;
}
.block-bookmark .block-share .block-share--conent ul li:last-child.effect-fb {
  right: -35px;
  left: auto;
  top: -10px;
}
.block-bookmark .block-share .block-share--conent-click {
  opacity: 1;
}
.storefront-product-detail .block-bookmark .block-share-click {
  margin-top: 30px;
}
.storefront-product-detail .block-bookmark .block-share-click .fa-share-alt:before {
  content: "\f00d";
}
/* Cart detail*/
/* Cart detail*/
.storefront-product-detail .block-process {
  display: flex;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .block-process {
    justify-content: center;
    font-size: 14px;
  }
}
.storefront-product-detail.single-product div.product .product_meta {
  padding-top: 45px;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail.single-product div.product .product_meta {
    padding-top: 25px;
  }
}
.storefront-product-detail .woocommerce-product-details__short-description + .wrap-cart {
  margin-bottom: 45px;
  margin-top: 40px;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .woocommerce-product-details__short-description + .wrap-cart {
    margin-top: 25px;
  }
}
.storefront-product-detail .woocommerce-product-details__short-description + .wrap-cart .wrap-block.wrap-proccess #number .val {
  font-family: "Barlow";
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.48;
  letter-spacing: 0.9px;
  text-align: left;
  color: #5b5b5b;
}
.storefront-product-detail .woocommerce-product-details__short-description + .wrap-cart .wrap-block.wrap-proccess .value-button i {
  font-family: "Barlow";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.39;
  letter-spacing: 1.1px;
  text-align: left;
  color: #8e8d8d;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .woocommerce-product-details__short-description + .wrap-cart .wrap-block.wrap-proccess .value-button i {
    font-size: 14px;
  }
}
.storefront-product-detail .wrap-product-item .fm-sl-cart .block-number {
  width: 60px;
  min-height: 20px;
  border: none;
}
.storefront-product-detail .wrap-product-item .fm-sl-cart .block-number .number {
  padding: 2px 0;
}
.storefront-product-detail .wrap-product-item .fm-sl-cart .block-number .val {
  font-weight: bold;
}
.storefront-product-detail .wrap-product-item .fm-sl-cart .value-button {
  padding: 16px 20px;
  cursor: pointer;
  border-left: 1px solid #fff;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .wrap-product-item .fm-sl-cart .value-button {
    padding: 10px 14px;
  }
}
.storefront-product-detail .wrap-product-item .fm-sl-cart .value-button#increase {
  background: #ffffff;
  border: none;
  border-left: 1px dotted #142d73;
  color: #142d73;
}
.storefront-product-detail .wrap-product-item .fm-sl-cart .value-button#increase i::before {
  font-weight: bold;
}
.storefront-product-detail .wrap-product-item .fm-sl-cart .value-button#decrease {
  background: #ffffff;
  border: none;
  border-right: 2px dotted;
  color: #142d73;
}
.storefront-product-detail .wrap-product-item .fm-sl-cart .value-button#decrease i::before {
  font-weight: bold;
}
.storefront-product-detail .wrap-product-item .fm-sl-cart .lb-btn {
  padding: 0 36px;
  border-radius: 35px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: none;
  border-right: 0;
  color: #ffffff;
  background-color: #142d73;
}
.storefront-product-detail .wrap-cart {
  margin-bottom: 45px;
  margin-top: 40px;
  position: relative;
}
.storefront-product-detail .wrap-cart .fm-detail-cart {
  display: block;
  text-align: center;
  min-width: 100px;
}
.storefront-product-detail .wrap-cart .fm-detail-cart .wrap-block {
  display: flex;
  align-items: center;
}
.storefront-product-detail .wrap-cart .fm-detail-cart .block-number {
  min-height: 16px;
  width: 40px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .wrap-cart .fm-detail-cart .block-number .val {
    font-family: "Barlow-m" !important;
    font-size: 20px !important;
  }
}
.storefront-product-detail .wrap-cart .fm-detail-cart .btn-add-to-cart {
  margin-left: 20px;
  background-color: #142d73;
  padding: 12px 20px;
  border-radius: 35px;
  font-family: "Barlow";
  font-size: 0;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0.5px;
  text-align: center;
  min-width: 140px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #142d73;
  text-transform: uppercase;
  transition: 0.3s all ease;
  position: relative;
  height: 20px;
  transform: scale(1);
}
.storefront-product-detail .wrap-cart .fm-detail-cart .btn-add-to-cart::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  border-radius: 35px;
  opacity: 0;
  font-size: 16px;
}
.storefront-product-detail .wrap-cart .fm-detail-cart .btn-add-to-cart::after {
  position: absolute;
  content: 'ADD TO CART';
  top: 0;
  left: 0;
  font-size: 16px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  line-height: 43px;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .wrap-cart .fm-detail-cart .btn-add-to-cart {
    margin-left: 0;
    margin-top: 10px;
  }
}
.storefront-product-detail .wrap-cart .fm-detail-cart .btn-add-to-cart.proccess {
  background-color: #0f1972;
  color: #ffffff;
}
.storefront-product-detail .wrap-cart .fm-detail-cart .btn-add-to-cart.proccess::after {
  content: 'ADDED';
  animation: test 0.2s ease forwards;
}
.storefront-product-detail .wrap-cart .fm-detail-cart .btn-add-to-cart-click {
  transform: scale(0.98);
}
.storefront-product-detail .wrap-cart .fm-detail-cart .btn-add-to-cart-click::before {
  border: 1px solid #142d73;
  animation: anim-effect-jelena 0.3s ease-out forwards;
}
.storefront-product-detail .wrap-cart .fm-detail-cart .test-f::after {
  content: 'ADD TO CART';
  animation: test-1 0.2s ease forwards;
}
.storefront-product-detail .wrap-cart .fm-detail-cart .value-button {
  padding: 15px 20px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .wrap-cart .fm-detail-cart .value-button {
    align-items: center;
    display: flex;
    color: #8e8d8d;
  }
}
.storefront-product-detail .wrap-cart .fm-detail-cart .value-button#increase {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.storefront-product-detail .wrap-cart .fm-detail-cart .value-button#decrease {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.storefront-product-detail .wrap-product-item .fm-sl-cart.proccessing .value-button#increase {
  background: #ffffff;
  color: #142d73;
  border-left: 2px dotted #142d73;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .wrap-product-item .fm-sl-cart .block-number {
    width: 4px;
  }
}
@keyframes anim-effect-jelena {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(1, 1, 1);
  }
  to {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.5, 1);
  }
}
@keyframes test {
  0% {
    transform: translateY(100%) scale(0);
  }
  to {
    transform: translateY(0) scale(1);
  }
}
@keyframes test-1 {
  0% {
    transform: translateY(100%) scale(0);
  }
  to {
    transform: translateY(0) scale(1);
  }
}
.block-reviews {
  position: relative;
  z-index: 1;
  padding: 60px 200px 60px 30px;
}
.block-reviews::before {
  content: '';
  position: absolute;
  width: 2000%;
  height: 100%;
  top: 0;
  z-index: -1;
  left: -500px;
  background-color: #ffffff;
}
.block-reviews h2.contributions-title {
  display: none;
}
.block-reviews .product-rating-summary h3 {
  display: none;
}
.woocommerce-page .block-reviews #reviews .product-rating .product-rating-details {
  display: none;
}
.woocommerce-page .block-reviews #reviews .product-rating,
.woocommerce-page .block-reviews .woocommerce-page #reviews .product-rating {
  display: block;
  width: auto;
}
.woocommerce-page .block-reviews #reviews .product-rating .product-rating-summary p,
.woocommerce-page .block-reviews .woocommerce-page #reviews .product-rating .product-rating-summary p {
  font-size: 22px;
  margin: 0;
  color: #222222;
}
.woocommerce-page .block-reviews h3.contributions-form-title {
  display: none;
}
.woocommerce-page .block-reviews .contribution-type-selector {
  display: block;
  width: auto;
  margin-top: 20px;
}
.woocommerce-page .block-reviews .contribution-type-selector a {
  border-bottom-color: #ffffff !important;
  padding: 0;
  text-decoration: none;
  font-size: 18px;
  color: #202020;
  font-family: "Barlow-m";
  position: relative;
  padding-left: 20px;
}
.woocommerce-page .block-reviews .contribution-type-selector a::before {
  position: absolute;
  content: "";
  font-family: "Ionicons";
  left: 0;
}
.woocommerce-page .block-reviews #reviews #comments {
  clear: both;
  padding-top: 10px;
}
.woocommerce-page .block-reviews #reviews #comments .contributions-filter {
  display: none;
}
.woocommerce-page .block-reviews #reviews #comments #contributions-list-title {
  display: none;
}
.woocommerce-page .block-reviews #reviews #comments ol.commentlist li .comment-text img {
  display: none;
}
.woocommerce-page .block-reviews #reviews #comments ol.commentlist li .comment-text .review-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  order: 2;
  font-size: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.woocommerce-page .block-reviews #reviews #comments ol.commentlist li .comment-text .contribution-actions {
  display: none;
}
.container .wrap-attribute-size {
  align-items: center;
  margin: 40px 0;
}
.container .wrap-attribute-size .block-label {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Barlow-s";
  color: #222222;
}
.container .wrap-attribute-size .block-main input + label {
  padding: 11px 10px;
  font-size: 16px;
}
.container .wrap-attribute-size .block-main li {
  margin-right: 10px;
}
.woocommerce #reviews .form-contribution {
  border: none;
}
.woocommerce #reviews .form-contribution .form-row.star-rating-selector label {
  color: #2a2a2a;
  font-family: "Barlow-s";
}
.woocommerce #reviews .form-contribution .form-row.star-rating-selector fieldset label {
  font-size: 16px;
}
.woocommerce #reviews .form-contribution .required {
  color: #2a2a2a;
  text-decoration: none;
}
.woocommerce #reviews .form-contribution .form-row#review_title_field,
.woocommerce #reviews .form-contribution .form-row#review_comment_field,
.woocommerce #reviews .form-contribution .form-row#review_attachment_type_field,
.woocommerce #reviews .form-contribution .form-row#review_author_field,
.woocommerce #reviews .form-contribution .form-row#review_email_field,
.woocommerce #reviews .form-contribution .wc-product-reviews-pro-form-submit-row {
  display: block !important;
  color: #2a2a2a;
  margin-bottom: 15px;
}
.woocommerce #reviews .form-contribution .form-row#review_title_field label,
.woocommerce #reviews .form-contribution .form-row#review_comment_field label,
.woocommerce #reviews .form-contribution .form-row#review_attachment_type_field label,
.woocommerce #reviews .form-contribution .form-row#review_author_field label,
.woocommerce #reviews .form-contribution .form-row#review_email_field label,
.woocommerce #reviews .form-contribution .wc-product-reviews-pro-form-submit-row label {
  margin-bottom: 10px;
}
.woocommerce #reviews .form-contribution .form-row#review_title_field input,
.woocommerce #reviews .form-contribution .form-row#review_comment_field input,
.woocommerce #reviews .form-contribution .form-row#review_attachment_type_field input,
.woocommerce #reviews .form-contribution .form-row#review_author_field input,
.woocommerce #reviews .form-contribution .form-row#review_email_field input,
.woocommerce #reviews .form-contribution .wc-product-reviews-pro-form-submit-row input,
.woocommerce #reviews .form-contribution .form-row#review_title_field textarea,
.woocommerce #reviews .form-contribution .form-row#review_comment_field textarea,
.woocommerce #reviews .form-contribution .form-row#review_attachment_type_field textarea,
.woocommerce #reviews .form-contribution .form-row#review_author_field textarea,
.woocommerce #reviews .form-contribution .form-row#review_email_field textarea,
.woocommerce #reviews .form-contribution .wc-product-reviews-pro-form-submit-row textarea {
  height: 44px;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  transition: 0.3s all ease;
  padding-left: 10px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  font-family: "Barlow";
}
.woocommerce #reviews .form-contribution .form-row#review_title_field input:focus,
.woocommerce #reviews .form-contribution .form-row#review_comment_field input:focus,
.woocommerce #reviews .form-contribution .form-row#review_attachment_type_field input:focus,
.woocommerce #reviews .form-contribution .form-row#review_author_field input:focus,
.woocommerce #reviews .form-contribution .form-row#review_email_field input:focus,
.woocommerce #reviews .form-contribution .wc-product-reviews-pro-form-submit-row input:focus,
.woocommerce #reviews .form-contribution .form-row#review_title_field textarea:focus,
.woocommerce #reviews .form-contribution .form-row#review_comment_field textarea:focus,
.woocommerce #reviews .form-contribution .form-row#review_attachment_type_field textarea:focus,
.woocommerce #reviews .form-contribution .form-row#review_author_field textarea:focus,
.woocommerce #reviews .form-contribution .form-row#review_email_field textarea:focus,
.woocommerce #reviews .form-contribution .wc-product-reviews-pro-form-submit-row textarea:focus {
  outline: none;
  box-shadow: 1px 2px 11px 3px rgba(0, 0, 0, 0.1);
  border-color: #ffffff;
}
.woocommerce #reviews .form-contribution .form-row#review_title_field a,
.woocommerce #reviews .form-contribution .form-row#review_comment_field a,
.woocommerce #reviews .form-contribution .form-row#review_attachment_type_field a,
.woocommerce #reviews .form-contribution .form-row#review_author_field a,
.woocommerce #reviews .form-contribution .form-row#review_email_field a,
.woocommerce #reviews .form-contribution .wc-product-reviews-pro-form-submit-row a {
  color: #2a2a2a;
}
.woocommerce #reviews .form-contribution .form-row#review_title_field textarea,
.woocommerce #reviews .form-contribution .form-row#review_comment_field textarea,
.woocommerce #reviews .form-contribution .form-row#review_attachment_type_field textarea,
.woocommerce #reviews .form-contribution .form-row#review_author_field textarea,
.woocommerce #reviews .form-contribution .form-row#review_email_field textarea,
.woocommerce #reviews .form-contribution .wc-product-reviews-pro-form-submit-row textarea {
  height: 60px;
}
.woocommerce #reviews .form-contribution .form-row#review_attachment_url_field input {
  height: 44px;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  transition: 0.3s all ease;
  padding-left: 10px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.woocommerce #reviews .form-contribution .form-row#review_attachment_url_field input:focus {
  outline: none;
  box-shadow: 1px 2px 11px 3px rgba(0, 0, 0, 0.1);
  border-color: #ffffff;
}
.woocommerce #reviews .form-contribution .form-row#review_rating_field fieldset {
  padding: 2px 0;
  margin-right: 10px;
}
.woocommerce #reviews .form-contribution .form-row#review_rating_field .star-label {
  float: none;
  text-transform: uppercase;
  color: #2a2a2a;
  font-size: 16px;
}
.woocommerce #reviews .form-contribution .form-row#subscribe_to_replies_field {
  display: none !important;
}
.woocommerce #reviews .form-contribution .wc-product-reviews-pro-form-submit-row {
  text-align: center;
}
.woocommerce #reviews .form-contribution .wc-product-reviews-pro-form-submit-row button {
  width: 175px;
  height: 44px;
  background: #142d73;
  color: #ffffff;
  border-radius: 22px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.home-page-1 .woocommerce #reviews #comments ol.commentlist li .contribution-actions a,
.home-page-1 .woocommerce-page #reviews #comments ol.commentlist li .contribution-actions a,
.home-page-1 .star-rating-selector:not(:checked) input:checked ~ label.checkbox,
.home-page-1 .star-rating-selector:not(:checked) label.checkbox:hover ~ label.checkbox,
.home-page-1 .star-rating-selector:not(:checked) label.checkbox:hover,
.home-page-1 .woocommerce #reviews #comments ol.commentlist li .contribution-actions a,
.home-page-1 .woocommerce-page #reviews #comments ol.commentlist li .contribution-actions a,
.home-page-1 .woocommerce #reviews .form-contribution .attachment-type:not(:checked) label.checkbox:before,
.home-page-1 .woocommerce-page #reviews .form-contribution .attachment-type:not(:checked) label.checkbox:before {
  color: #fcbb1c !important;
}
body.woocommerce #reviews .form-contribution .attachment-type:not(:checked) label.checkbox,
body.woocommerce-page #reviews .form-contribution .attachment-type:not(:checked) label.checkbox {
  width: 46px;
  height: 46px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  line-height: 46px;
  text-indent: 5px;
}
body.woocommerce-page #reviews .form-contribution .attachment-type[data-prev-value=photo] input[value=photo] + label.checkbox,
body.woocommerce-page #reviews .form-contribution .attachment-type[data-prev-value=video] label.checkbox:last-child {
  border-color: #142d73;
}
body.woocommerce #reviews .form-contribution .attachment-type:not(:checked) input[value=video] + label:before,
body.woocommerce-page #reviews .form-contribution .attachment-type:not(:checked) input[value=photo] + label:before {
  color: #2a2a2a !important;
}
body.woocommerce-page #reviews .form-contribution .attachment-type[data-prev-value=photo] input[value=photo] + label:before,
body.woocommerce-page #reviews .form-contribution .attachment-type[data-prev-value=video] input[value=video] + label.checkbox:last-child:before {
  color: #142d73 !important;
}
.woocommerce #reviews .form-contribution .form-row label {
  margin-bottom: 10px;
}
.field-header {
  color: #2a2a2a;
  font-family: "Barlow-s";
  font-size: 28px;
  margin-bottom: 30px;
}
.wrap-fields {
  margin-bottom: 35px;
}
.wrap-fields label {
  color: #2a2a2a;
  margin-bottom: 10px;
  display: block;
}
.wrap-fields input {
  display: block;
  width: 100%;
  height: 44px;
  border-radius: 4px;
  border: 1px solid #d7d7d7;
  transition: 0.3s all ease;
  padding-left: 10px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  font-family: "Barlow";
}
.wrap-fields input:focus {
  outline: none;
  box-shadow: 1px 2px 11px 3px rgba(0, 0, 0, 0.1);
  border-color: #ffffff;
}
.woocommerce.woocommerce-page #reviews .product-rating .product-rating-summary {
  display: flex;
}
.woocommerce.woocommerce-page #reviews .product-rating .product-rating-summary .wrap-review-right {
  margin-left: auto;
}
.woocommerce.woocommerce-page #reviews .product-rating .product-rating-summary .wrap-review-right button {
  border: none;
  background: no-repeat;
  font-size: 16px;
  color: #777777;
  font-family: "Barlow-m";
  text-transform: capitalize;
}
.stock.in-stock {
  display: none;
}
@media screen and (max-width: 767px) {
  .wrap-additional_information tbody {
    display: flex;
  }
  .wrap-additional_information tbody tr:last-child {
    padding-left: 36px;
  }
  .home-page-1 ul.products {
    margin-top: 2.235801em;
  }
}
.btn-readmore {
  font-family: "Barlow";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.06;
  letter-spacing: 0.32px;
  text-align: left;
  color: #333333;
  outline: 0;
  box-shadow: none;
  background-color: transparent;
  text-decoration: underline;
  border: 0;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: none;
}
.btn-readmore:focus,
.btn-readmore:hover {
  background-color: transparent;
}
.disable-review {
  position: fixed;
}
.disable-review.storefront-product-detail.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  z-index: -1;
}
#review_form_wrapper::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}
/* background of the scrollbar except button or resizer */
#review_form_wrapper::-webkit-scrollbar-track {
  background-color: #fff;
}
#review_form_wrapper::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}
/* scrollbar itself */
#review_form_wrapper::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff;
}
#review_form_wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}
/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
  display: none;
}
@media screen and (max-width: 767px) {
  .btn-readmore {
    display: block;
  }
  .block-reviews {
    padding: 50px 0;
  }
  .storefront-product-detail .comment-text .description {
    height: auto;
  }
  .woocommerce-page .block-reviews #reviews #comments ol.commentlist li .comment-text .review-title {
    margin-bottom: 0;
  }
  .storefront-product-detail #review_form_wrapper {
    width: calc(100% - 60px);
    padding: 10px;
  }
  .storefront-product-detail #reviews .commentlist li .comment_container .comment-text {
    display: block;
  }
  .storefront-product-detail #reviews .commentlist li .comment_container .comment-text .wrap-comment-left {
    margin-bottom: 25px;
  }
  .storefront-product-detail #reviews .commentlist li .comment_container .comment-text .wrap-comment-right {
    margin-left: 0;
  }
  .storefront-product-detail #reviews .commentlist li p.meta .woocommerce-review__author::before {
    right: 0;
  }
  .field-header {
    font-size: 20px;
  }
  .storefront-product-detail .wrap-cart .fm-detail-cart .wrap-block {
    display: block;
    text-align: center;
  }
  .storefront-product-detail .wrap-description {
    overflow-y: hidden;
    height: auto;
  }
  .storefront-product-detail #reviews .commentlist li p.meta time {
    padding-top: 0;
  }
}
.storefront-product-detail .home-page-1 .woocommerce-noreviews {
  text-align: left;
  padding-left: 0;
}
