.storefront-product-detail .site-main .woocommerce-product-gallery {
  position: relative;
}
.storefront-product-detail .site-main .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  position: absolute;
  top: 0;
  left: 0;
}
.storefront-product-detail .site-main .woocommerce-product-gallery .flex-control-nav img {
  border-radius: 50%;
  width: 70px;
}
.storefront-product-detail.single-product div.product .woocommerce-product-gallery.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  float: none;
  margin-right: 30px;
}
.storefront-product-detail.single-product div.product .woocommerce-product-gallery .flex-control-thumbs {
  display: flex;
  justify-content: center;
}
.storefront-product-detail.single-product div.product .woocommerce-product-gallery .flex-control-thumbs li img {
  width: 54px;
  height: 54px;
}
.storefront-product-detail .woocommerce-Reviews-title,
.storefront-product-detail .block-view-all {
  display: none;
}
.storefront-product-detail #reviews #comments {
  font-family: "Barlow", sans-serif;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.56;
  letter-spacing: 0.36px;
  text-align: right;
  color: #202020;
}
.storefront-product-detail .block-wite-comment {
  padding-right: 70px;
}
