body.modal {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.storefront-product-detail .pswp__caption__center {
  text-align: center;
}
.storefront-product-detail .wrap-back {
  padding: 40px 0px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .wrap-back {
    padding: 25px 0;
  }
}
.storefront-product-detail .wrap-back i {
  color: #a7a7a7;
  font-size: 20px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .wrap-back i {
    font-size: 16px;
  }
}
.storefront-product-detail .wrap-back a {
  width: 180px;
  height: 16px;
  font-family: "Barlow-m";
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.08;
  letter-spacing: 0.4px;
  text-align: left;
  color: #a7a7a7;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .storefront-product-detail .wrap-back a {
    font-size: 14px;
  }
}
.storefront-product-detail .comment-form-rating label {
  font-family: "Barlow";
  color: #222;
}
.storefront-product-detail .wrap-modal .modal-title {
  font-family: "Barlow";
  font-size: 18px;
  font-weight: 600;
  padding-left: 30px;
  padding-top: 5px;
  color: #222;
}
.storefront-product-detail .wrap-modal #respond {
  border: none;
  padding: 0 30px;
}
.storefront-product-detail .wrap-modal #respond p.form-submit {
  display: block;
}
.storefront-product-detail .wrap-modal #respond .comment-form-author,
.storefront-product-detail .wrap-modal #respond .comment-form-email {
  width: 100%;
}
.storefront-product-detail .wrap-modal #respond .form-submit {
  text-align: center;
}
.storefront-product-detail .wrap-modal #respond .form-submit input.submit {
  width: 20px;
}
